
<h1><%= t("seller_payment_methods") %></h1>

<table class="index" id='listing_payment_methods'>
  <tr>
      <th><%= t("name") %></th>
      <th><%= t("provider") %></th>
      <th><%= t("status") %></th>
      <th><%= t("user") %></th>
    <th>
    </th>
  </tr>
  <tbody>
    <% @payment_methods.each do |method|%>
      <tr id="<%= dom_id method %>">
          <td width="120px"><%= link_to method.name, admin_seller_payment_method_path(method) %></td>
          <td width="140px">
             <%= t("seller_payment_method_type.#{method.method_type}") %>
          </td>

          <td width="60px"><%= method.state %></td>
          <td width="60px"><%= link_to method.user.full_name, admin_user_path(method.user) %></td>
          <td width="140px">
            <% if method.wait? %>
              <%= link_to "approve", approve_admin_seller_payment_method_path(method) %>&nbsp;
              <%= link_to "reject", reject_admin_seller_payment_method_path(method) %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
