<div class="sptCntBus">
	<div class="top"></div>

	<div class="cntr">
    <h2 class="htFix"></h2>

    <div id="new_product"></div>

<h4><%= t("new_image") %></h4>
<%= form_for(:image, :url => dashboard_product_images_path(@product), :html => { :multipart => true }) do |form| %>
  <table class="basic-table">
    <%= render :partial => "form", :locals => { :f => form } %>
  </table>
  <p class="form-buttons">
    <%= button t("update") %>
    <%= t('or') %> <%= link_to t("cancel"), "#", :id => "cancel_link" %>
  </p>
<% end %>


  </div>

	<div class="btm"></div>
</div>

<script type="text/javascript">
  jQuery('#cancel_link').click(function (event) {
    jQuery('#new_image_link').show();
    jQuery('#images').html('');
  });

</script>



