<div class="yui-gc">
  <div class="yui-u first">
    <%- locals = {:f => f} %>
      <%= f.field_container :name do %>
        <%= f.label :name, t("name") %> <span class="required">*</span><br />
        <%= f.text_field :name, :class => 'fullwidth title', :value => f.object.name  %>
        <%= f.error_message_on :name %>
      <% end %>

      <%= f.field_container :description do %>
        <%= f.label :description, t("description")%><br />
        <%= f.text_area :description, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
        <%= f.error_message_on :description %>
    <% end %>
  </div>
  <div class="yui-u">

      <h2>
        <u> EAN: <%= @quote.ean %></u>
      </h2>
      <%= f.field_container :sku do %>
        <%= f.label :sku, t("sku")%> </span><br />
        <%= f.text_field :sku   %>
        <%= f.error_message_on :sku %>
      <% end %>

      <%= f.field_container :price do %>
        <%= f.label :price, t("price")%> <span class="required">*</span><br />
        <%= f.text_field :price, :value => number_with_precision(@quote.price, :precision => 2)  %>
        <%= f.error_message_on :price %>
      <% end %>

      <%= f.field_container :count_on_hand do %>
        <%= f.label :count_on_hand, t("count_on_hand")%> <span class="required">*</span><br />
        <%= f.text_field :count_on_hand  %>
        <%= f.error_message_on :count_on_hand %>
      <% end %>


      <%= f.field_container :condition do %>
        <%= f.label :condition, t("condition")%>
        <%= select_tag("variant[condition]",
            options_for_select(Variant::CONDITION.collect {|ov| [ t("condition_#{ov}"), ov ] })) %>
        <span class="required">*</span>
        <%= f.error_message_on :condition %>
      <% end %>



  </div>
</div>

