<% quotes.each do |quote| %>
<% evod = cycle('1', '2') %>
<tr class="quote">
  <!--<td class="row<%= evod %>">
    <div class="checkbox">
      <input type="checkbox" id="Astronomy" name="hobbies[]" value="Astronomy" class="multi_action">
    </div>
  </td>-->
  <td class="row<%= evod %>">
    <%= link_to quote.ean, edit_dashboard_quote_path(quote)  %>
  </td>
  <td class="row<%= evod %>">
    <% unless quote.deleted? %>
      <%= link_to quote.name, edit_dashboard_quote_path(quote)  %>
    <% else %>
      <%= quote.name %>
    <% end %>
  </td>
  <td class="row<%= evod %> cell_quantity"><span><%= quote.count_on_hand %></span></td>
  <td class="row<%= evod %>"><span><%= quote.condition %></span></td>
  <td class="row<%= evod %>">
    <b>Unit price: <br /></b><%= number_to_currency quote.price %> <br />
    <% if quote.volume_prices.any? %>
       <%= raw('<b>Volume price: </b><br />') %>
       <% quote.volume_prices.each do |volume_price| %>
         <%= volume_price.range %> - <%= number_to_currency volume_price.amount %> <br />
       <% end %>
    <% end %>
  </td>
  <td class="row<%= evod %>"><span><%== 'Not' unless quote.virtual? %> Offered</span></td>
  <td class="row<%= evod %>">Active</td>
</tr>
<% end %>
<div class="paging replacer" style='display: none;'>
  <div class="blogPg">
    <%= page_entries_info quotes %><!-- FIXME add will_paginate 3.0.pre4 support for modifying text of entries info -->
  </div>
  <%= will_paginate(quotes, :previous_label => "#{t('previous')}",  :next_label => "#{t('next')}") %>
</div>
