<%= render :partial => 'dashboard/shared/seller_profile_tabs', :locals => {:current => "About you"} %>

<div class="sptCntBus">
	<div class="top"></div>
	<div class="cntr">
    	<h2>About You</h2>
        
    <%= form_for :static_data, :url => about_you_dashboard_sellers_path, :html => { :method => :put } do |f| %>
        <div class="busAbtYou">
        	<p>Describe About You/ your Business ( 500 Words Max ).</p>
            <div class="bAY">
              <div class="txtA">
                <%= f.text_area :about %>
              </div>
                <em>This information will be displayed in your public seller profile and would be visible to all users.</em>
            </div>
            <p>List any FAQ that might be relevant to your buyers.</p>
            <div class="bAY">
              <div class="txtA">
                <%= f.text_area :faq %>
              </div>
                <em>It is better to List as many FAQs as possible. The more details you provide a buyer the more likely they will shop in your store.</em>
            </div>
            <p>List any specialTerms &amp; conditions you have.</p>
            <div class="bAY">
              <div class="txtA">
                <%= f.text_area :term %>
              </div>
                <em>Clearly state all your terms and conditions that you would want your buyers to know.</em>
            </div>
            <div class="bSaveC">
              <big>
                <%= f.submit '', :class => "btn otherbutton" %>
              </big>
            </div>
        </div>
      <% end %>

    </div>
	<div class="btm"></div>
</div>
