<% javascript "jquery.custom_radio_checkbox" %>
<%= render '/shared/order_status', :step => "shipping" %>
<% [ 'shipping'].each do |address_type|
   address_name = "#{address_type[0...4]}_address" %>

<div class="page chkOut3">
	<div class="shpng1">
    <h3>Shipping Details</h3>
    <div class="option1">

      <h4>Option 1:</h4>
      <p>
        <i><a href="#"><img src="images/forms/primery_add_btn.png" alt=""></a></i>
        <b><%= current_user.full_name %></b>

        <% if current_user.addresses.present? %>
        <% address = current_user.primary_address %>
        <span>
          <%= address.address1 %><br />
          <%= address.address2 %><br />
          <%= address.city %>, <%= address.state.name %><br />
          Phone: <%= address.phone %><br />
        </span>
        <%= link_to t(:edit), edit_dashboard_address_path(address), :class => "delE" %>
        <%= link_to t(:delete), dashboard_address_path(address), :method => :delete, :confirm => t(:are_you_sure), :class => "delE" %>
        <% else %>
        You have no addresses
        <% end %>
      </p>

      <div class="cmbo1">
        <div class="ddOutOfVision" style="height:0px;overflow:hidden;position:absolute;" id="websites1_msddHolder">
          <select id="websites1" tabindex="1" name="">
            <option value="" selected="selected" title="">Select a different address</option>
            <option value="" title="">address 1</option>
            <option value="" title="">address 2</option>
            <option value="" title="">address 3</option>
            <option value="" title="">address 4</option>
          </select>
        </div>
      </div>
    </div>
<%= form_for @order, :url => virtual_update_checkout_path((@order.virtual? ? :virtual : :normal), @order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>

    <%= form.fields_for address_name do |address_form| %>
    <div class="option2">
      <%= render :partial => 'addresses', :locals => {
      :address_name => address_name,
      :address_form => address_form,
      :address => Address.default  } %>
    </div>
    <% end %>
  <% end %>


    <h3></h3>
    <%= form_for @order, :url => virtual_update_checkout_path((@order.virtual? ? :virtual : :normal), @order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
    <h6>Shipping To: </h6>
    <div class="radioPnl">
      <% current_user.addresses.each do |item| %>
	    <div class="mRadio">

        <div class="radio" id="box-single" style="background-position: 50% 0px; ">
          <input type="radio" id="single" name="order[ship_address_id]" value="<%= item.id %>">
        </div>
        <span><i><%= item.to_s %></i></span>
      </div>
      <% end %>
      <button id="next_after_selected_ship_address">Continue</button>
    </div>
    <% end %>


    <div id="select-shipping-methods">
    <div class="radioPnl">

      <div class="mRadio">
      </div>

      <div class="mRadio">
      </div>
    </div>

    <h6>Item Details:<%= link_to "Edit Items", cart_path %></h6>

    <div class="chkOutPrdct">
      <% @order.line_items.each do |item| %>
      <div class="chkPrdct">
        <i>
          <%= mini_image(item.variant.images.blank? ? item.variant.product : item.variant) %></i>
        <b><%= item.variant.name %></b>
        <span class="clrLft">Condition: <em><%= item.variant.display_condition %></em></span>
        <span><em>Seller: <%= item.variant.seller.full_name%></em></span>
        <label>Price <%= number_to_currency item.price %> <span>Quantity: <%= item.quantity %>.</span></label>
      </div>
      <% end %>
    </div>
  </div>
  </div>



  <div class="shpng2">
    <%= render :partial => "summary", :locals => {:order => @order } %>
  </div>

</div>
<% end %>

<script>
  $(function(){
    $("#next_after_selected_ship_address").click(function(){
       var content_form = $(this).parents("form:first");

       $.ajax({
         type: 'POST',
         url: $(content_form).attr("action")+'.js',
         data: $(content_form).serialize(),
         success: function(data){ $("#select-shipping-methods").html(data)}

       })
       return false;
    });
  });
</script>
