<%= render '/shared/order_status', :step => "done" %>
 <%= form_for @order, :url => virtual_update_checkout_path((@order.virtual? ? :virtual : :normal), @order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>

<div class="items">

  <h1 class="chkHd"><%= t(@order.state, :scope => :order_state).titleize %></h1>
  <%= render :partial => 'shared/order_details', :locals => {:order => @order} %>

<hr />

<div class="form-buttons">
  <button value="<%=t("place_order") %>">
    <%= image_tag "forms/chk_big_btn.png" %>
  </button>
</div>
</div>
<% end %>
