<%= render :partial => 'dashboard/shared/quote_tabs', :locals => {:current => "Images"} %>

<div class="sptCntBus">
	<div class="top"></div>

	<div class="cntr">
    <h2 class="htFix"></h2>

    <div id="new_product"></div>
    <p>
      <%= link_to icon('add') + ' ' + t("new_image"), new_dashboard_quote_quote_image_url(@quote), :id => "new_image_link" %>
    </p>


    <table class="index sortable">
      <tr>
        <th><%= t("thumbnail") %></th>
        <th><%= t("alt_text") %></th>
        <th><%= t("action") %></th>
      </tr>

      <% @quote.images.each do |image| %>
      <tr id="<%= dom_id(image) %>">
        <td>
          <span class="handle"></span>
          <%= link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:product)) %>
        </td>
        <td><%= image.alt %></td>
        <td class="actions">
          <%= link_to_with_icon('edit', t("edit"), edit_dashboard_quote_quote_image_url(@quote, image), :class => 'edit') %>
          &nbsp;
          <%= link_to_delete image, {:url => dashboard_quote_quote_image_url(@quote, image) }%>
        </td>
      </tr>
      <% end %>

    </table>

<div id="images"></div>
<br/>

  </div>

	<div class="btm"></div>
</div>


<% content_for :head do %>
<script type="text/javascript">
  jQuery(document).ready(function(){

  jQuery('#new_image_link').click(function (event) {
  event.preventDefault();
  jQuery(this).hide();
  jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#images').html(r);} });
  });

  });
</script>
<% end %>
