
<div class="col1 slrPrdctPg prdctDPg">
  <div class="mTabs">
    <div id="TabbedPanels0" class="TabbedPanels TabbedPanelsTabFocused">
      
      <%= render "menu" %>

      <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent TabbedPanelsContentVisible" style="display: block; ">

<div class="bCrmp bc">
                                        <a class="abtStrp" href="#"><img src="/images/forms/abt_slr_strp.png" alt=""></a>
</div>
                        <div class="likes">
                          <div class="social"><%= fb_like %></div>
                          <div class="social"><%= plus_one %></div>
                        </div>

                        <% if @seller.static_data.present? %>
                              <% if @seller.static_data.about.present? %>
                              <div class="abtSlrCnt abtSlrCntPad">
                                <h2>About <%= @seller.full_name %></h2>
                                <%= @seller.static_data.about %>
                              </div>
                              <% end %>

                              <div class="bdr5p"></div>

                              <% if @seller.static_data.faq.present? %>
                              <div class="abtSlrCnt abtSlrCntPad">

                                  <h2>Frequently Asked Questions (FAQ).</h2>
                                  <%= @seller.static_data.faq %>
                              </div>
                              <% end %>

                              <% if @seller.static_data.term.present? %>
                                <div class="abtSlrCnt abtSlrCntPad">
                                      <h2>Terms and Conditions</h2>
                                      <%= @seller.static_data.term %>
                                </div>
                              <% end %>
                        <% else %>
                          <div class="abtSlrCnt abtSlrCntPad" style="min-height: 200px;">
                            <br /><br />
                            <h2>
                              Seller hasn't filled this section yet.
                            </h2>
                          </div>
                        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col2 col2SlPrd prdctDPg slrPrdctPg slrPrdctPg">
  <div class="blogFilters">
    <%= render "summary" %>
  </div>
</div>
