<% @body_id = 'product-details' %>
<% stylesheet "slider/style", "slider/jquery", "slider/SpryTabbedPanels2", "slider/SpryTabbedPanels3", "product" %>
<% javascript "slider/jquery_002", "slider/jquery_003", "SpryTabbedPanels", "product_detail", "like_review" %>

<div class="cntTop"></div>
<div class="cntCntr">
  <div class="favCmnt">
    <span><%= @product.name %></span>
      <div>
       <%= link_to "Sell A Product Like this", "", :class=>"seAll" %>

       <div class="social" class="fbLike">
            <%= fb_like %>
            
          </div>
          <div class="social">
            <%= plus_one %>
          </div>
          <%= link_to "Add to Favorites", "", :class=>"add social" %>
      </div>
  </div>

  <div class="sldrBnr">
    <div id="gallery" class="ad-gallery">
      <div class="ad-image-wrapper">
        <%= image_tag "slide/loader.gif", :style => "display:none;", :class => "ad-loader" %>
      </div>

      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
          <% @product.images.each do |image| %>
            <li>
              <%= link_to image_tag(image.attachment.url(:mini), :alt=>""), image.attachment.url(:product) %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="bnrFolw">
      <ul>
          <li><%= link_to image_tag("icons/bnr_ico_twtr.png"), "" %></li>
          <li><%= link_to image_tag("icons/bnr_ico_ggl.png"), "" %></li>
          <li><%= link_to image_tag("icons/bnr_ico_fb.png"), "" %></li>
          <li><%= link_to image_tag("icons/bnr_ico_eml.png"), "" %></li>
          <li><%= link_to image_tag("icons/bnr_ico_lnk.png"), "" %></li>
        </ul>
    </div>
  </div>

  <%= render "products/prd_rating" %>
</div>

