<% @body_id = 'product-details' %>
<% stylesheet "slider/style", "slider/jquery", "slider/SpryTabbedPanels2", "slider/SpryTabbedPanels3", "product" %>
<% javascript "slider/jquery_002", "slider/jquery_003", "SpryTabbedPanels", "product_detail", "like_review" %>

<div class="col1 slrPrdctPg prdctDPg" style="border: none;">
  <div class="mTabs">
    <div id="TabbedPanels0" class="TabbedPanels">
      <%= render "menu" %>
      <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent">
          <div id="TabbedPanels3" class="TabbedPanels">
            <div class="TabbedPanelsContentGroup">
              <div class="TabbedPanelsContent" style="position:relative;">
                <div class="jNt">
                  <div class="cntTop"></div>
                  <div class="cntCntr">
                    <div class="favCmnt">
                      <span><%= @quote.name %></span>
                      <div>
                        <%= link_to "Sell A Product Like this", "", :class=>"seAll" %>

                        <div class="social" class="fbLike">
                          <%= fb_like %>
                        </div>
                        <div class="social">
                          <%= plus_one %>
                        </div>
                        <%= link_to "Add to Favorites", "", :class=>"add social" %>
                      </div>
                    </div>

                    <div class="sldrBnr">
                      <div id="gallery" class="ad-gallery">
                        <div class="ad-image-wrapper">
                          <%= image_tag "slide/loader.gif", :style => "display:none;", :class => "ad-loader" %>
                        </div>

                        <div class="ad-nav">
                          <div class="ad-thumbs">
                            <ul class="ad-thumb-list">
                              <% @quote.product.images.each do |image| %>
                              <li>
                                <%= link_to image_tag(image.attachment.url(:mini), :alt=>""), image.attachment.url(:product) %>
                              </li>
                              <% end %>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="bnrFolw">
                        <ul>
                          <li><%= link_to image_tag("icons/bnr_ico_twtr.png"), "" %></li>
                          <li><%= link_to image_tag("icons/bnr_ico_ggl.png"), "" %></li>
                          <li><%= link_to image_tag("icons/bnr_ico_fb.png"), "" %></li>
                          <li><%= link_to image_tag("icons/bnr_ico_eml.png"), "" %></li>
                          <li><%= link_to image_tag("icons/bnr_ico_lnk.png"), "" %></li>
                        </ul>
                      </div>
                    </div>

                    <div class="prdctTabs1">
                      <%= render "products/prd_tabs", :product => @quote.product %>
                    </div>
                    <%= render "products/prd_rating", :product => @quote.product %>
                  </div>

                  <div class="cntBtm"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col2 col2SlPrd prdctDPg slrPrdctPg slrPrdctPg">
  <div class="blogFilters">
    <%= render "summary" %>

    <div id="CollapsiblePanel1" class="CollapsiblePanel">
      <div class="CollapsiblePanelTab" tabindex="0"><span>Product Specifications</span></div>
      <div class="CollapsiblePanelContent">
        <div class="rts1">
          <h2>
            <%= number_to_currency @quote.price %>
          </h2>
          <b>Retail Price:
            <span>FIXME</span>
          </b>
          <b class="mrg5">Shipping:
            <span>
              <%= number_to_currency @quote.primary_shipping unless @quote.primary_shipping.blank? %>
            </span>
          </b>
          <b>Virtual Trading:
            <% if @quote.virtual? %>
            <span>Yes</span>
            <% else %>
            <span>No</span>
            <% end %>
          </b>

          <b class="mrg5">Location: <span><%= @quote.seller.primary_address.try(:city) %></span></b>
          <big><b>Quantity Available: <span><%= @quote.count_on_hand %></span></b></big>
          <div class="cntcts">
            <p>
              <%= render :partial => "shared/cart_form", :object => @quote %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="CollapsiblePanel2" class="CollapsiblePanel">

      <div class="CollapsiblePanelTab" tabindex="0"><span>Buy More Save More</span></div>
      <div class="CollapsiblePanelContent colsPC">

        <% @quote.available_volume_prices.each do |item|  %>

        <div class="rts1">

          <h2>
            <%= number_to_currency @quote.volume_price(item.range_first) %>
            <b class="mrg5">Quantity <%= item.range_first %> - <%= item.range_last %>  </b>
          </h2>

          <div class="cntcts">
            <%= render :partial => "shared/cart_form", :object => @quote, :locals => {:quantity => item.range_first } %>
          </div>

        </div>
        <div class="bdr5p"></div>

        <% end %>

      </div>
    </div>

  </div>
</div>

<div class="col2 mag0 prdctDPg slrPrdctPg slrPrdctPg">
  <div class="vwer smlr mag0">
    <div class="top"><b>Sellers Other Products</b></div>

    <% @seller.quotes.last(3).each do |quote| %>
    <div class="cntr noBdr">
      <%= link_to seller_quote_path(@seller, quote.product, quote) do %>
      <i class="smallLatestQuotes">
        <%= image_tag quote.image.attachment.url(:mini) if quote.image.present?  %>
      </i>
      <b><%= quote.product.name %></b>
      <em>
        <%= quote.description.to_s.slice(0, 80) %>
        <br />
        <label><%= number_to_currency quote.price %></label>
      </em>
      <% end %>
    </div>
    <% end %>

  </div>
</div>

<div class="col2 mag0 prdctDPg slrPrdctPg slrPrdctPg">
	<div class="vwer mag0">
    <div class="top"><b>FIXMEOther Users In This Store</b></div>
    <div class="cntr noBdr">
      <i><img src="/images/img/rater_img1.png" alt="" /></i>
      <span>Cheryl C</span>
      <p><a>Cheryl C is Viewing<br /> this produc, right now</a></p>
    </div>
    <div class="cntr noBdr">
      <i><img src="/images/img/rater_img1.png" alt="" /></i>
      <span>Cheryl C</span>
      <p><a>Cheryl C is Viewing<br /> this produc, right now</a></p>
    </div>
    <div class="cntr noBdr lst">
      <i><img src="/images/img/rater_img1.png" alt="" /></i>
      <span>Cheryl C</span>
      <p><a>Cheryl C is Viewing<br /> this produc, right now</a></p>
    </div>
  </div>
</div>

