
<div class="col1 slrPrdctPg prdctDPg">
  <div class="mTabs">
    <div id="TabbedPanels0" class="TabbedPanels TabbedPanelsTabFocused">

      <%= render "menu" %>

      <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent TabbedPanelsContentVisible" style="display: block; ">

          <div class="bCrmp bc">
            <a class="abtStrp" href="#"><img src="/images/forms/abt_slr_strp.png" alt=""></a>
          </div>
          <div class="likes">
            <div class="social"><%= fb_like %></div>
            <div class="social"><%= plus_one %></div>
          </div>

          <% if @seller.static_data.present? %>
          <% if @seller.static_data.return_policy.present? %>
          <div class="abtSlrCnt abtSlrCntPad">
            <h2>Return Police <%= @seller.full_name %></h2>
            <%= @seller.static_data.about %>
          </div>
          <% end %>

          <div class="bdr5p"></div>
          <% else %>
          <div class="abtSlrCnt abtSlrCntPad" style="min-height: 200px;">
            <br /><br />
            <h2>Seller hasn't filled this section yet.</h2>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col2 col2SlPrd prdctDPg slrPrdctPg slrPrdctPg">
  <div class="blogFilters">
    <%= render "summary" %>
  </div>
</div>
