<% stylesheet "slider/general", "slider/SpryCollapsiblePanel", "slider/SpryTabbedPanels2","slider/SpryTabbedPanels3", "product" %>
<% javascript "jquery.custom_radio_checkbox", "slider/SpryCollapsiblePanel", "slider/SpryTabbedPanels", "product_index" %>
<%= render 'shared/per_page', :per_page => params[:per_page] %>

<div class="col1 slrPrdctPg prdctDPg">
  <div class="mTabs">
    <div id="TabbedPanels0" class="TabbedPanels TabbedPanelsTabFocused">

      <%= render "menu" %>

      <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent TabbedPanelsContentVisible" style="display: block; ">

          <div class="mTbFx">
            <div class="srchBar">
              <form action="">
                <div class="searchTxt">
                  <input type="text" value="Search Blog" onfocus="if(this.value=='Search Blog') this.value=''" onblur="if(this.value=='') this.value='Search Blog'">
                  <input type="submit" value="Update Results">
                </div>
              </form>
            </div>
          </div>


          <div id="TabbedPanels3" class="TabbedPanels">
            <ul class="TabbedPanelsTabGroup">
              <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0"><span>All Products</span></li>
              <li class="TabbedPanelsTab" tabindex="0"><span>Auctions</span></li>
              <li class="TabbedPanelsTab" tabindex="0"><span>Volume Price</span></li>
              <li class="TabbedPanelsTab" tabindex="0"><span>Group Sales</span></li>
              <li class="TabbedPanelsTab" tabindex="0"><span>Fixed Price</span></li>
            </ul>



            <div class="TabbedPanelsContentGroup">


              <div class="TabbedPanelsContent TabbedPanelsContentVisible" style="position: relative; display: block; ">
                <div class="bCrmp"> </div>
                <div class="cmboSrt">
                </div>

                <%= render "shared/variants", :variants => @quotes, :taxon => @taxon, :grid => params[:grid] %>

                <div class="blogPg">
                  <%= page_entries_info @quotes%><!-- FIXME add will_paginate 3.0.pre4 support for modifying text of entries info -->
                </div>
                <div class="slctr slct">
                  <b>items per page</b>
                  <form action="">
                    <select id="per_page_select" tabindex="1" name="">
                      <option value="15" title="">15</option>
                      <option value="30" title="">30</option>
                      <option value="50" title="">50</option>
                      <option value="60" title="">60</option>
                    </select>
                  </form>
                </div>

              </div>
            </div>

            <div class="TabbedPanelsContent" style="display: none; ">
              2 tab
            </div>

            <div class="TabbedPanelsContent" style="display: none; ">
              3 tab
            </div>

            <div class="TabbedPanelsContent" style="display: none; ">
              4 tab
            </div>

            <div class="TabbedPanelsContent" style="display: none; ">
              5 tab
            </div>

            <div class="TabbedPanelsContent" style="display: none; ">
              6 tab
            </div>


          </div>
        </div>




      </div>

    </div>
  </div>
</div>

<div class="col2 col2SlPrd prdctDPg slrPrdctPg slrPrdctPg">
  <div class="blogFilters">
    <%= render "summary" %>
    <div class="gridToggler">
         <%= link_to "List View", store_seller_path(@seller), :class => "pLa" %>
         <%= link_to "Grid View", store_seller_path(@seller, :grid => true) %>
    </div>

    <%= render :partial => "shared/filter", :locals => { :filter_seller => @seller } %>
  </div>
</div>
