<%= render :partial => 'dashboard/shared/product_sub_menu', :locals => { :current => '' } %>


<div class="sptCntBus">
<%= render 'shared/error_messages', :target => @property %>
<div class="top"></div>
<div class="cntr">
    <h2 class="htFix"><%= t("new_property")%></h2>

    <%= form_for(:property, :url => dashboard_properties_path, :html => { :class => "contInp contInpFix"}) do |f| %>
    <fieldset>
      <%= render :partial => "form", :locals => { :f => f } %>
    
    
        <div class="bSaveC">
          <big>
            <button type="submit" class="btn otherbutton" id="save_property"></button>
          </big>
          <p>
            <%= t("or") %> <%= link_to t("actions.cancel"), dashboard_properties_path %>
          </p>
        </div>
     
    </fieldset>
    <% end %>
 </div>

<div class="btm"></div>
</div>
