<% messages.each do |item| %>
<div class="msg <%= item.read? ? 'read' : 'unread' %>" >
  <div class="checkbox" style="background-position: 50% 0px; ">
    <%= check_box_tag "message_ids[]", item.id, false, :id => "message_checkbox_#{item.id}", :class => "multi_action" %>

  </div>
  <%= link_to item.sender.full_name, dashboard_message_path(item)%>
  <span><%= link_to item.subject, dashboard_message_path(item) %></span>
  <i><%= link_to (l item.created_at, :format => "%B %d, %Y"),  dashboard_message_path(item)%></i>
</div>

<% end %>
