<div class="inbxTabs">                            
<div id="TabbedPanels2" class="TabbedPanels">
<%= render :partial => 'dashboard/shared/inbox_tabs', :locals => {:current => @state} %>
    <div class="TabbedPanelsContentGroup">

<%= form_tag multi_dashboard_messages_path do %>
            <div class="sptCnt">
                <div class="top"></div>
                <div class="cntr">
                	<ul class="inbxNav">
                        <li class="nav1"><a href="#"></a></li>
                        <li class="nav2"><a href="#"></a></li>
                        <li class="nav3"><a href="#"></a></li>
                        <li class="nav4"><a href="#"></a></li>
                    </ul>
                    <div class="hct1">
                            <select id="websites21" tabindex="1" name="">
                                  <option value="" selected="selected" title="">All Messages</option>
                                  <option value="" title="">option 1</option>
                                  <option value="" title="">option 2</option>
                                  <option value="" title="">option 3</option>
                                  <option value="" title="">option 4</option>
                              </select>
                    </div>
                            

              	  <div class="inbx">
                    	<div class="tp"></div>
                    	<div class="cent">
                            <div class="sndrInfo">
                                <div class="checkbox" id="select_all_check_box">
                                  <%= check_box_tag "", "",  false, :value => "all" %>
                                  <label class="lbl">From</label>
                                </div>
                                <span>SUBJECT</span>
                                <span class="lL">RECIEVED</span>
                            </div>
                            <div class="mrFx"></div>
                            <div id="messages_list">
                            <%= render 'messages', :messages => @messages %>
                            </div>
                        </div>
                    	<div class="bt"></div>
                  </div>

                    <%= will_paginate @messages %>
                  </div>
                <div class="btm"></div>
                </div>
<% end %>
            </div>
  </div>
</div>
</div>

<div class='toolbar'>
  <ul class='actions'>
    <li>
      <button name="multi" value="delete"><span><%= t("delete") %></span></button>
    </li>
    <li>
      <button name="multi" value="mark_as_unread"><span><%= t("mark_as_unread") %></span></button>
    </li>
    <li>
      <button name="multi" value="mark_as_read"><span><%= t("mark_as_read") %></span></button>
    </li>
    <li>
      <button name="multi" value="mark_as_important"><span><%= t("mark_as_important") %></span></button>
    </li>
  </ul>
  <br class='clear' />
</div>
<h1> Inbox </h1>
<table class="index sortable">

  <tr>
    <th>
      From
    </th>
    <th>Subject</th>
    <th>Received</th>
    <th></th>
  </tr>

</table>
<div>
</div>

<script>
  $(function(){
    $("div.checkbox:not([id=select_all_check_box])").click(function() {
        if ( $("input[type=checkbox]:not(:checked)").length == 1 ) {
          $("#select_all_check_box").css('background-position', '50% -50px');
          $("#select_all_check_box").data('checked', true);
          $("#select_all_check_box > input").attr('checked', true);
        }
        if ( $("input[type=checkbox]:checked").length == 1) {
          $("#select_all_check_box").css('background-position', '50% 0');
          $("#select_all_check_box").data('checked', false);
          $("#select_all_check_box > input").attr('checked', false);
        }
    });
    $("#select_all_check_box").click(function(){
      if ($(this).find('input').attr("checked")){
       $('div.checkbox').css('background-position', '50% -50px');
       $('div.checkbox').data('checked', true);
       $(".multi_action").attr("checked", true);
      } else {
       $('div.checkbox').css('background-position', '50% 0');
       $('div.checkbox').data('checked', false);
       $(".multi_action").attr("checked", false);
      };
    });
  });
</script>
