<%= render :partial => 'dashboard/shared/inbox_tabs', :locals => {:current => @state} %>

<%= form_tag multi_dashboard_messages_path do %>
<div class='toolbar'>
  <ul class='actions'>
    <li>
      <button name="multi" value="delete"><span><%= t("delete") %></span></button>
    </li>
    <li>
      <button name="multi" value="mark_as_unread"><span><%= t("mark_as_unread") %></span></button>
    </li>
    <li>
      <button name="multi" value="mark_as_read"><span><%= t("mark_as_read") %></span></button>
    </li>
    <li>
      <button name="multi" value="mark_as_important"><span><%= t("mark_as_important") %></span></button>
    </li>
  </ul>
  <br class='clear' />
</div>
<h1> Inbox </h1>
<table class="index sortable">

  <tr>
    <th>
      <%= check_box_tag "", "",  false, :id => "select_all_check_box" %>
      From
    </th>
    <th>Subject</th>
    <th>Received</th>
    <th></th>
  </tr>

  <% @messages.each do |item| %>
  <tr>
    <td class="<%= item.read? ? 'read' : 'unread' %>" >
      <%= check_box_tag "message_ids[]", item.id, false, :id => nil, :class => "multi_action" %>
      <%= item.sender.full_name %>
    </td>
    <td class="<%= item.read? ? 'read' : 'unread' %>">
      <%= item.subject %>
    </td>
    <td class="<%= item.read? ? 'read' : 'unread' %>">
      <%= l item.created_at, :format => "%B %d, %Y %H:%M " %></td>
    <td>
       <%= link_to "reply", dashboard_message_path(item) %>
    </td>
  </tr>
  <% end %>

</table>
<% end %>
<div>
<%= will_paginate @messages %>
</div>

<script>
  $(function(){
    $("#select_all_check_box").change(function(){
     if ($(this).attr("checked")){
       $(".multi_action").attr("checked", true)
     } else {
       $(".multi_action").attr("checked", false)
     };
    });
  });
</script>
