
<div class="inbxTabs">
  <div id="TabbedPanels2" class="TabbedPanels">
    <%= render :partial => 'dashboard/shared/inbox_tabs', :locals => {:current => @state} %>
    <div class="TabbedPanelsContentGroup">

      <div class="inbx">
        <div class="tp"></div>
        <div class="cent">
	        <div class="inbxAct">
    	      <ul>
        	    <li>
                <%= link_to t('delete'), dashboard_message_path(@message), :method => :delete %>
              </li>
              <li class="replyer">
                <%= link_to t('reply'), "javascript:void(0)", :class => "reply-link", :onclick => "test_func();" %>
              </li>
            </ul>
            <div class="cmbo1">
              <select id="websites21" tabindex="1" name="">
                <option value="nothing" selected="selected" title="">Move to</option>
                <option value="mark_as_unread" title="">Move to unread</option>
                <option value="mark_as_important" title="">Move to important</option>
                <option value="delete" title="">Move to trash</option>
              </select>
            </div>

            <div class="prnt"><a href="#" onclick="window.print();"><img src="/images/forms/inbmsg_prnt.jpg" alt=""></a></div>

          </div>

          <div class="msgRead">
    	      <h2><%= @message.subject %></h2>
            <div class="msgCred">
              <p><i>From:</i><b><%= @message.sender.full_name %></b></p>
        	    <p><i>Sent:</i><b><%= l @message.created_at, :format => "%B %d, %Y %H:%M" %></b></p>
              <p><i>To:</i><b><%= @message.recipient.full_name %></b></p>
            </div>

            <div class="msgCnt">
              <%= @message.content %>

              <div class="shopInfo">
            	  <p class="sI1">
                	<i>User ID</i><b> #<%= @message.sender.id %></b>
                </p>
            	  <p class="sI2">
                  <i>User Name:</i><b><%= @message.sender.full_name %></b>
                </p>
            	  <p class="sI1">
                	<i>Item #:</i><b>FIXME</b>
                </p>

              </div>
            </div>

            <div class="inbxAct replyer">
              <ul>
                <li>
                  <%= link_to t('delete'), dashboard_message_path(@message), :method => :delete %>
                </li>
                <li>
                  <%= link_to t('reply'), "", :class => "reply-link", :onclick => "test_func();"%>
                </li>
              </ul>
            </div>

          </div>

          <div class="message_container" style="display:none">

              <h2>Messages</h2>
              <%= render @children_messages  %>
              <br />
              <%= render 'shared/error_messages', :target => @reply_message %>

              <%= form_for((@reply_message||Message.new), :url => reply_dashboard_message_path(@message), :html => {:class => "new_message"}) do |f| %>
                <div class="bAY">
                  <div class="txtA">
                    <%= f.text_area :content, {:cols => 60, :rows => 2, :class => 'fullwidth'} %>
                  </div>
                </div>
                <div class="inbxAct rightSend">
                  <ul>
                    <li>
                      <button type="submit" id="send_message">Send</button>
                    </li>
                  </ul>
                </div>
          <% end %>
          </div>
        </div>
        <div class="bt"></div>
      </div>
    </div>
  </div>
</div>

<% javascript 'inbox' %>
