<div class="smPrdcts">
  <div class="smPd">
  <% if product.is_a?(Variant) %>
    <% variant = true
       product = product.product %>
  <% end %>



    <i class="imgP">
      <% if best_deal.is_favorite?(current_user) %>
        <%= image_tag "/images/favribbon.png", :class => "favribbon" %>
      <% end %>

      <% if variant %>
        <%= link_to show_product_image(product,'small'), seller_quote_path(@seller, product, best_deal) %>
      <% else %>
        <%= link_to small_image(product), product %>
      <% end %>

    </i>
    <div class="pdDtl">
      <h4>

      <% if variant %>
        <%= link_to product.name, seller_quote_path(@seller, product, best_deal) %>
      <% else %>
        <%= link_to product.name, product %>
      <% end %>

      </h4>
      <p><%= product.description.slice(0, 200) + '...' %></p>
      <%= render :partial => "shared/rating_product", :object => product %>
    </div>
    <div class="rTe">
      <b class="rT">
        <%= number_to_currency(best_deal.try(:price)) %>
      </b>
      <em class="oRt">retail <%= number_to_currency(product.try(:price)) %></em>
      <span class="avB">
        <% if !variant %>
        <%= link_to "Available with #{product.variants.count.to_s} sellers", product_quotes_path(product, 'new') %>
        <% end %>
      </span>

      <ul>
        <li>
          <% if variant %>
          <%= link_to_twitter_share(seller_quote_url(@seller, product, best_deal)) %>
          <% else %>
          <%= link_to_twitter_share(product_url(product)) %>
          <% end %>
        </li>
        <!--<li><%= link_to image_tag("icons/ch_fb.png"), "#" %></li>-->

        <li>
          <%= link_to image_tag("icons/ch_dl.png"), add_favorite_path(best_deal) %>
        </li>
      </ul>

      <p>
        <em class="qt">QTY Available</em><i class="avl"><%= best_deal.count_on_hand %></i>
      </p>
      <div class="cntcts">
        <%= render :partial => 'shared/cart_form', :object => best_deal %>
      </div>
    </div>
  </div>
</div>
