<div class="ptPod">
  <% if product.class == Variant %>
    <%= link_to raw("More info" + image_tag("/images/icons/chta_pls.png")), seller_quote_path(@seller, product.product, product), :class => "pTpA" %>
    <i class="pImg">
      
      <% if is_favorite?(best_deal) %>
        <%= image_tag "/images/favribbon.png", :class => "favribbon" %>
      <% end %>
      <%= link_to show_product_image(product,'small'), seller_quote_path(@seller, product.product, product) %>
    
    </i>
  <% else %>
  <%= link_to image_tag("/images/icons/chta_pls.png"), product, :class => "pTpA" %>
  <i class="pImg">
      <% if is_favorite?(best_deal) %>
        <%= image_tag "/images/favribbon.png", :class => "favribbon" %>
      <% end %>
    <%= link_to small_image(product), product %>
  </i>
  <% end %>

  <b class="prc"><%= number_to_currency(best_deal.try(:price)) %><br>
    <span>Shipping: </span>
    <% best_deal.shipping.each do |item| %>
    <span><%= item[:zone] %> - <%= item[:cost] %></span>
    <% end %>
  </b>
  <ul>
    <li><a href="#"><img src="/images/icons/ch_twtr.png" alt=""></a></li><!-- FIXME -->
    <li><a href="#"><img src="/images/icons/ch_fb.png" alt=""></a></li><!-- FIXME -->
    <li><a href="#"><img src="/images/icons/ch_dl.png" alt=""></a></li><!-- FIXME -->
  </ul>

  <div class="cntcts">
    <p>
      <%= render :partial => 'shared/cart_form', :object => best_deal %>
    </p>
    <div class="str">
      <i>QTY Available <label><%= best_deal.count_on_hand %></label></i>
      <div id="number<%= product.id %>" class="nmbrRate"></div>
    </div>
  </div>
  <script type="text/javascript">
	  $(function() {
    $('#number<%= product.id %>').raty({
		scoreName:	'entity.score', // FIXME
		number:		5
	  });
	  });
  </script>
</div>
