<div class="ptPod">
          <% if product.class == Variant %>
            <%= link_to image_tag("/images/icons/chta_pls.png"), product.product, :class => "pTpA" %>
            <i class="pImg"><%= link_to image_tag(product.image.attachment(:small)), product.product %></i>
          <% else %>
            <%= link_to image_tag("/images/icons/chta_pls.png"), product, :class => "pTpA" %>
            <i class="pImg"><%= link_to small_image(product), product %></i>
          <% end %>

            <b class="prc">$238<br><span>Shipping: $2.99</span></b> <!-- FIXME -->
            <ul>
            	<li><a href="#"><img src="/images/icons/ch_twtr.png" alt=""></a></li><!-- FIXME -->
            	<li><a href="#"><img src="/images/icons/ch_fb.png" alt=""></a></li><!-- FIXME -->
            	<li><a href="#"><img src="/images/icons/ch_dl.png" alt=""></a></li><!-- FIXME -->
            </ul>

            <div class="cntcts">
                <p>
                    <%= render :partial => 'shared/cart_form', :object => best_deal %>
                </p>

                <div class="str">
                	<i>QTY Available <label><%= best_deal.count_on_hand %></label></i>
                        <div id="number<%= product.id %>" class="nmbrRate"></div>
                </div>
            </div>
</div>
<script type="text/javascript">
	$(function() {
            $('#number<%= product.id %>').raty({
			scoreName:	'entity.score', // FIXME
			number:		5
	    });
	});
</script>
