<% stylesheet "product" %>
<%
  paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <div style="float: left;"><%= t(:no_products_found) %></div>
<% elsif params.key?(:keywords) && params[:keywords].strip != '' %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>

<div id="products_list" class="<%== ' tabPrdcts' if defined? grid %>">
    <% if products.any? %>
      <% products.each do |product| %>
      <% next unless product.best_variant %>
      <% best_deal = product.best_variant %>
      <% next unless best_deal.seller.available_shipping_methods?  %>
      <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
          <% if params[:grid] %>
            <%= render "shared/product_cell", :product => product, :best_deal => best_deal %>
          <% else %>
            <%= render "shared/product_line", :product => product, :best_deal => best_deal %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</div>
<% if paginated_products.respond_to?(:total_pages)
      params.delete(:search)
      params.delete(:taxon)
%>
<%= will_paginate(paginated_products,
                    :previous_label => "#{t('previous')}",
                    :next_label => "#{t('next')}") %>
<% end %>
