<% stylesheet "slider/SpryTabbedPanels", "home-index" %>
<% javascript "jquery.carousel", "slider/SpryTabbedPanels", "home" %>

<div class="mBnr">
  <div class="bnrCnt">
    <h1>Buying &amp; Selling Made Easy</h1>
    <p>Never in your wildest dreams you could have imagined buying and instantly reselling could be so easy. You don't need to have a product or any experience to do any of that. You can buy and sell from hundreds of products. </p>
    <p>This will change the way you buy and sell, want to know how? </p>
    <a href="/buying-selling-made-easy">Read More On How To Sell With BilNeur</a>
    <a class="btn" href="<%= start_selling_link %>"><img src="/images/forms/strt_slng_btn.png" alt="" /></a>
  </div>

  <div class="bnrImg">
    <div id="TabbedPanels1" class="TabbedPanels">
      <ul class="TabbedPanelsTabGroup">
        <li class="TabbedPanelsTab" tabindex="0"><span>Sell Products</span></li>
        <li class="TabbedPanelsTab" tabindex="0"><span>Buy Products</span></li>
        <li class="TabbedPanelsTab" tabindex="0"><span>Buy &amp; Sell Products</span></li>
        <li class="TabbedPanelsTab" tabindex="0"><span>BilNeur Video</span></li>
      </ul>
      <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent"><img src="/images/img/seller_tab.png" alt="" /></div>
        <div class="TabbedPanelsContent"><img src="/images/img/buyer_tab.png" alt="" /></div>
        <div class="TabbedPanelsContent"><img src="/images/img/trader_tab.png" alt="" /></div>
        <div class="TabbedPanelsContent"><img src="/images/img/tab_img.jpg" alt="" /></div>
      </div>
    </div>
  </div>
</div>

<div class="c1">
  <div class="c1A">
    <h2>Sellers Paradise</h2>
    <p>We know selling anything online is just not that easy, we have been there and done that and now We are trying to revolutionize the way you sell your stuff, with no upfront costs and more customers. </p>
    <a class="btn" href="/sellers-paradise">Read More</a>
  </div>

  <div class="c1B">
    <h2>Buy Anything, Sell It Instantly</h2>
    <p>Yes you heard it right. Now you can buy anything that you see here and instantly start reselling them here. You would not have to worry about having a product and going through all the hassles. </p>
    <a class="btn" href="/buy-anything-sell-it-instantly">Read More</a>
  </div>

  <div class="c1C">
    <h2>A Buyers Universe</h2>
    <p>It is all about you, without you we don't exist and we will do anything to make you feel happy. We promise, you will find the best deals here. You will never be disappointed. </p>
    <a class="btn" href="/a-buyers-universe">Read More</a>
  </div>
</div>

<div class="c2">
  <div class="latest"><img src="/images/bgs/ltst_prdct_bg.png" alt="" /></div>
  <div id="carousel">
    <ul>
      <% @latest_products.each do |item| %>
      <li>
        <div class="crsl">
          <%= t122_image( item ) %>
          <b class="lHd"><%= truncate item.name, :length => 40 %></b>
          <i class="lHdI"><%= truncate item.description, :length => 100 %></i>
          <%= link_to "View This Product", item %>
          <b class="byTh">Buy 20 at <b class="byPrc">40% Off</b></b>
        </div>
      </li>
      <%- end %>
    </ul>
  </div>
</div>
