<%= render :partial => 'product_reviews_select' %>
<div class="TabbedPanelsContentGroup">
    <div class="TabbedPanelsContent TabbedPanelsContentVisible" style="display: block; ">
      <% reviews.each do |review| %>
        <div class="fdBack" id="review_number_<%= dom_id review %>">
          <i class="rtr">
            <%= show_user_photo(review.user) %>
            <span><%= user.full_name rescue review.name %></span>
          </i>
          <p>
            <%= review.review %>
          </p>
          <div class="smlRtng">
            <%= show_stars(review.rating, 'icons/yel_str_sml.png', 'icons/grey_str_sml.png', '<em>') %>
          </div>
          <!-- <%= link_approved(review) %> -->
          <!-- <%= link_to "Delete", dashboard_review_path(review), :method => :delete, :remote => true, :onclick => "$(\"#review_number_review_#{review.id}\").remove();" %> -->
        </div>
      <% end %>
    </div>
</div>

<div class="blogFtr">
    <div class="blogPg">
            <%= page_entries_info reviews %><!-- FIXME add will_paginate 3.0.pre4 support for modifying text of entries info -->
    </div>
    <%= will_paginate(reviews, :previous_label => "#{t('previous')}", :next_label => "#{t('next')}") %>
</div>
