<div class="fdBck">
	<h2>Feedback &amp; Reviews</h2>
    <div class="pPgCmbo">
    	<div class="cmbo7">
            <div class="ddOutOfVision"><select id="websites1" tabindex="1" name="">
                <option value="" selected="selected" title="">5</option>
                <option value="" title="">1</option>
                <option value="" title="">2</option>
                <option value="" title="">3</option>
                <option value="" title="">4</option>
            </select></div>        </div>
        <b>Display per page</b>
    </div>
    <div class="prfl">
        <div class="top"></div>
        <div class="cntr">
          <b class="gry">
            <%= current_user.full_name %></b>
            <i>
              <%= image_tag current_user.photo.url(:for_review) %>            
            </i>
            <a href="#"><img src="images/forms/upld_ph_lgo.png" alt=""></a>
        </div>
        <div class="btm"></div>
        <p>&nbsp;</p>
        <a href="#"><img src="images/forms/reiablty.png" alt=""></a>
        <p>&nbsp;</p>
        <a href="#"><img src="images/forms/feedback_btn.png" alt=""></a>
        <div class="fdBack1">
        	<a href="#">Leave Feedback for Buyers</a>
            <a href="#">Leave Feedback for Sellers</a>
        </div>
        <p>&nbsp;</p>
        <a href="#"><img src="images/forms/review_btn.png" alt=""></a>
    </div>
    <div class="sptCnt">
    	<div id="TabbedPanels2" class="TabbedPanels">
            <ul class="TabbedPanelsTabGroup">
              <li class="TabbedPanelsTab tab1 TabbedPanelsTabSelected" tabindex="0"><span>Feedback as a Buyer</span></li>
              <li class="TabbedPanelsTab tab2" tabindex="0"><span>Feedback as a Seller</span></li>
              <li class="TabbedPanelsTab tab3" tabindex="0"><span>Feedback Left</span></li>
          </ul>
            <div class="TabbedPanelsContentGroup">
              <div class="TabbedPanelsContent TabbedPanelsContentVisible" style="display: block; ">
                <div class="fdBack">
                	<i class="rtr"><img src="images/img/rater_img1.png" alt=""><span>Cheryl C</span></i>
                    <p>e vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
a consequuntur magni dolores eos</p>
    								<div class="smlRtng"><div id="number2" class="nmbrRate" style="width: 100px; cursor: pointer; "><img id="number2-1" src="assets/scripts/star_rating_small/img/star-off.png" alt="1" title="bad" class="number2">&nbsp;<img id="number2-2" src="assets/scripts/star_rating_small/img/star-off.png" alt="2" title="poor" class="number2">&nbsp;<img id="number2-3" src="assets/scripts/star_rating_small/img/star-off.png" alt="3" title="regular" class="number2">&nbsp;<img id="number2-4" src="assets/scripts/star_rating_small/img/star-off.png" alt="4" title="good" class="number2">&nbsp;<img id="number2-5" src="assets/scripts/star_rating_small/img/star-off.png" alt="5" title="gorgeous" class="number2"><input id="number2-score" type="hidden" name="entity.score"></div></div>
                    <a class="itmN" href="#"><b>Item</b># 31245678</a>
                </div>
                <div class="fdBack">
                	<i class="rtr"><img src="images/img/rater_img1.png" alt=""><span>Cheryl C</span></i>
                    <p>e vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
a consequuntur magni dolores eos</p>
    								<div class="smlRtng"><div id="number3" class="nmbrRate" style="width: 100px; cursor: pointer; "><img id="number3-1" src="assets/scripts/star_rating_small/img/star-off.png" alt="1" title="bad" class="number3">&nbsp;<img id="number3-2" src="assets/scripts/star_rating_small/img/star-off.png" alt="2" title="poor" class="number3">&nbsp;<img id="number3-3" src="assets/scripts/star_rating_small/img/star-off.png" alt="3" title="regular" class="number3">&nbsp;<img id="number3-4" src="assets/scripts/star_rating_small/img/star-off.png" alt="4" title="good" class="number3">&nbsp;<img id="number3-5" src="assets/scripts/star_rating_small/img/star-off.png" alt="5" title="gorgeous" class="number3"><input id="number3-score" type="hidden" name="entity.score"></div></div>
                    <a class="itmN" href="#"><b>Item</b># 31245678</a>
                </div>
                <div class="fdBack">
                	<i class="rtr"><img src="images/img/rater_img1.png" alt=""><span>Cheryl C</span></i>
                    <p>e vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
a consequuntur magni dolores eos</p>
    								<div class="smlRtng"><div id="number4" class="nmbrRate" style="width: 100px; cursor: pointer; "><img id="number4-1" src="assets/scripts/star_rating_small/img/star-off.png" alt="1" title="bad" class="number4">&nbsp;<img id="number4-2" src="assets/scripts/star_rating_small/img/star-off.png" alt="2" title="poor" class="number4">&nbsp;<img id="number4-3" src="assets/scripts/star_rating_small/img/star-off.png" alt="3" title="regular" class="number4">&nbsp;<img id="number4-4" src="assets/scripts/star_rating_small/img/star-off.png" alt="4" title="good" class="number4">&nbsp;<img id="number4-5" src="assets/scripts/star_rating_small/img/star-off.png" alt="5" title="gorgeous" class="number4"><input id="number4-score" type="hidden" name="entity.score"></div></div>
                    <a class="itmN" href="#"><b>Item</b># 31245678</a>
                </div>
                <div class="fdBack">
                	<i class="rtr"><img src="images/img/rater_img1.png" alt=""><span>Cheryl C</span></i>
                    <p>e vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
a consequuntur magni dolores eos</p>
    								<div class="smlRtng"><div id="number5" class="nmbrRate" style="width: 100px; cursor: pointer; "><img id="number5-1" src="assets/scripts/star_rating_small/img/star-off.png" alt="1" title="bad" class="number5">&nbsp;<img id="number5-2" src="assets/scripts/star_rating_small/img/star-off.png" alt="2" title="poor" class="number5">&nbsp;<img id="number5-3" src="assets/scripts/star_rating_small/img/star-off.png" alt="3" title="regular" class="number5">&nbsp;<img id="number5-4" src="assets/scripts/star_rating_small/img/star-off.png" alt="4" title="good" class="number5">&nbsp;<img id="number5-5" src="assets/scripts/star_rating_small/img/star-off.png" alt="5" title="gorgeous" class="number5"><input id="number5-score" type="hidden" name="entity.score"></div></div>
                    <a class="itmN" href="#"><b>Item</b># 31245678</a>
                </div>
              </div>
              <div class="TabbedPanelsContent" style="display: none; ">Content 2</div>
              <div class="TabbedPanelsContent" style="display: none; ">Content 3</div>
          </div>
        </div>
        <div class="blogFtr">
            <div class="blogPg">
                <p><b>1 - 15</b> of <b>3,456</b> blog posts</p>
            </div>
            <div class="pagination">
                <ul>
                    <li><a href="#" class="prevnext disablelink">previous</a></li>
                    <li><a href="#" class="currentpage">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a>...</li>
                    <li><a href="#">18</a></li>
                    <li><a href="#" class="prevnext">next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<h1><%= t('review_management_description') %></h1>

<% for reviews in [["Unapproved", @unapproved_reviews], ["Approved", @approved_reviews]] %>
  <h2><%= t(reviews[0]+"_reviews") %></h2>

  <table cellspacing=6 class="index">
    <tr>
      <th><%= Review.human_attribute_name(:created_at) %></th>
      <th><%= Review.human_attribute_name(:user) %></th>
      <th><%= Review.human_attribute_name(:rating) %></th>
      <th><%= Review.human_attribute_name(:title) %> / <%= t('product') %></th>
      <th><%= Review.human_attribute_name(:review) %></th>
      <th></th>
    </tr>

    <% for review in reviews[1] %>
    <tr id="<%= dom_id review %>">
      <td>
        <%= l review.created_at, :format => :long %>
      </td>
      <td>
        <p><%= review.name %> / <%= review.user_id ? link_to(review.user.try(:email), [:admin, review.user]) : t(:guest) %></p>
        <p><%= Review.human_attribute_name(:ip_address) %>: <%= review.ip_address ? link_to(review.ip_address, "http://whois.domaintools.com/#{review.ip_address}") : '-' %></p>
      </td>
      <td width="80px">
        <%= show_stars review.rating %>
      </td>
      <td>
        <%= review.title %>
        <%= t('for') %> <%= link_to review.product.name, product_path(review.product) %>
      </td>
      <td width="50%">
        <%= h review.review %>
      </td>
      <td>
        <% unless review.approved %>
          <%= link_to_with_icon 'tick', 'Approve', {:action => 'approve', :id => review.id} %> <br />
        <% end %>
        <%= link_to 'Delete', dashboard_review_path(review), :method => :delete, :remote => true, 
                                                             :onclick => "$(\"##{dom_id review}\").remove();" %>
        <br/>
      </td>
    </tr>
  <% end %>
  </table>
  <br/>
<% end %>
