<div class="altRow1">
  <h2>Items in <span>Cart</span></h2>
  <%= link_to t("Update Qty"), '#', :class => "qty", :onclick => "$('form#updatecart').submit(); return false;" %>
  <div class="cartNav">
    <b>item</b>
    <span>seller</span>
    <span>price each</span>
    <span class="ttl">&nbsp; qty</span>
    <span class="ttl">total</span>
  </div>
</div>
<%= order_form.fields_for :line_items do |item_form| %>
  <% line_item = item_form.object %>
  <% variant = line_item.variant %>
  <div class="<%= cycle("altRow2","altRow1") %>">
    <div class="slrPnl">
      <div class="slr">
        <i>
        <% if variant.images.length == 0 %>
          <%= small_image(variant.product) %>
        <% else %>
          <%= image_tag variant.images.first.attachment.url(:small) %>
        <% end %>
        </i>
          <b><%= variant.product.name %></b>
          <span>Condition: <em><%= variant.condition %></em></span>
          <a href="#">Save for Later</a>
      </div>
      <div class="slrImg">
        <i><img src="images/icons/slr_ico.png" alt="" /></i>
          <span><%= variant.seller.firstname %></span>
      </div>
      <div class="prc">
        <b><%= product_price(line_item) %></b>
          <i>YOU SAVE 20%</i>
      </div>
      <div class="qtyIn">
        <%= item_form.text_field :quantity, :size => 3, :onfocus=>"if(this.value=='1') this.value=''", :onblur=>"if(this.value=='') this.value='1'" %>
        <a href="#">Remove</a>
      </div>
      <div class="prc ttl">
        <b><%= format_price(product_price(line_item, :format_as_currency => false) * line_item.quantity) unless line_item.quantity.nil? %></b>
      </div>
    </div>
  </div>
<% end %>
