<% if current_virtual_order && current_virtual_order.line_items.present? %>
<div class="tL"><div class="tR"></div></div>
<div class="cC">
  <%= form_for(current_virtual_order.order, :url => update_virtual_cart_path(:virtual), :html=>{:id=>'virtual-updatecart'}) do |order_form| %>
    <%= render 'cart_form', :order_form => order_form, :in_virtual => true %>
  <% end %>
</div>

<div class="bL"><div class="bR"></div></div>
<div class="slng">
  <div class="slngLft slngLftFx">
      <%= link_to raw("<b>Add More Items To V. Store</b>"), products_path %>
    </div>
    <div class="slngrgt">
      <b><span>TOTAL</span> <%= order_price(current_virtual_order) %></b>
      <p><%= current_virtual_order.line_items.count %> Items From <%= current_virtual_order.sellers.count %> Sellers</p> <!-- FIXME -->
    </div>
</div>
<span class="p2bdr"></span>
<% end %>
