<%- locals = {:item_form => item_form, :variant => variant, :line_item => line_item} %>
<div class="<%= cycle("altRow2","altRow1") %>">
  <div class="slrPnl">
    <div class="slr">
      <i>
        <%= t122_image(variant.images.present? ? variant : variant.product) %>
      </i>
      <div>
        <b><%= variant.product.name %></b>
        <span>Condition: <em><%= variant.display_condition %></em></span>
        <% if item_form.object.order.virtual? %>
          <%= link_to t("save_for_later"), add_favorite_path(variant, :virtual => true) %>
        <% else %>
          <%= link_to t("save_for_later"), add_favorite_path(variant) %>
        <% end %>
      </div>
    </div>

    <div class="slrImg">
      <i><%= link_to (image_tag variant.seller.photo.url(:for_review)), store_seller_path(variant.seller) %></i>
      <span><%= link_to variant.seller.full_name, store_seller_path(variant.seller) %></span>
    </div>

    <div class="prc">
      <b><%= product_price(line_item) %></b>
      <i><%= you_save(line_item) %></i>
    </div>
    <div class="qtyIn">
      <%= item_form.text_field :quantity, :size => 3,
                               :onfocus=>"if(this.value=='1') this.value=''",
                               :onblur=>"if(this.value=='') this.value='1'",
                               :class => 'txt', :id => "order_line_items_attributes_#{item_form.object.variant.try(:id)}_quantity" %>

      <%= hook :cart_item_delete, locals do %>
      <%= link_to "Remove", '#', :class => 'delete' %>
      <% end %>

    </div>
    <div class="prc ttl">
      <b>
        <%= format_price(product_price(line_item, :format_as_currency => false) * line_item.quantity) unless line_item.quantity.nil? %>
      </b>
    </div>
  </div>
</div>
