  <div id="seller_profile">
    <div class="top"></div>
    <div class="cntr">
      <h2>Seller Profile</h2>
      <div class="pnl pnl1 pnlFix">
        <b>BUSINESS INFORMATION</b>
        <p>
          <span><a href="#"><%= current_user.full_name %></a></span><!-- FIXME -->
          <span>
            <%= link_to "About You/ Your Business", dashboard_sellers_path %>
          </span>
          <span><a href="#">LINK Contact Info</a></span><!-- FIXME -->
          <span>
            <%= link_to "Create FAQs", dashboard_sellers_path %>
          </span>
        </p>
      </div>
      <div class="pnl pnl2 pnlFix">
        <b>POLICIES</b>
        <p>
          <span><a href="#">LINK Shipping policy</a></span><!-- FIXME -->
          <span>
            <%= link_to "Return policy", return_policy_dashboard_sellers_path %>
          </span><!-- FIXME -->
          <span>
            <%= link_to t("terms_and_conditions"), dashboard_sellers_path %>
          </span>
        </p>
      </div>
      <div class="pnl pnl3 pnlFix">
        <b>ADDITIONAL SETTINGS</b>
        <p>
          <span>
            <%= link_to t("shipping_methods"), dashboard_shipping_methods_path %>
          </span>
          <span><a href="#">LINK Manage Shipping rates</a></span><!-- FIXME -->
          <span><a href="#">LINK Manage Payout Information</a></span><!-- FIXME -->
        </p>
      </div>
    </div>
    <div class="btm"></div>
  </div>
