
<%= render :partial => 'dashboard/shared/profile_tabs', :locals => {:current => "Change Password"} %>

<div class="sptCntBus">
	<div class="top"></div>
    
	<div class="cntr">
    	<h2>Edit Password</h2>
<%= form_for(current_user, :url => account_change_password_path, :html => { :method => :put, :multipart => true, :class => "eADtl dtlCP" }) do |f| %>
          <b><i>Current Password :</i>
            <%= f.password_field :current_password, :value => ''  %>
          </b>
          <b><i>New Password :</i>
            <%= f.password_field :password, :value => ''  %>
          </b>
          <b><i>Repeat Password :</i>
            <%= f.password_field :password_confirmation,:value => ''  %>
          </b>
        <div class="eADtlSav">
          <big>
            <button type="submit" class="btn otherbutton"></button>
          </big>
        </div>
<% end %>
    </div>
    
	<div class="btm"></div>
</div>

