<%= render :partial => 'dashboard/shared/profile_tabs', :locals => {:current => "Change Password"} %>

<h1><%= t("my_account") %></h1>

<%= form_for(current_user, :url => dashboard_account_path, :html => { :method => :put, :multipart => true }) do |f| %>
 <div class="yui-gc">
   <div class="yui-u first">
    <%= f.field_container :password do %>
    <%= f.label :password, t("new_password") %><br />
    <%= f.password_field :password, :class => 'fullwidth title', :value => ''  %>
    <%= f.error_message_on :password %>
    <% end %>

    <%= f.field_container :password_confirmation do %>
    <%= f.label :password_confirmation, t("repeat_password") %><br />
    <%= f.password_field :password_confirmation, :class => 'fullwidth title', :value => ''  %>
    <%= f.error_message_on :password_confirmation %>
    <% end %>
   </div>
 </div>
 <p class="form-buttons">
   <button type="submit"><span><%= t("update") %></span></button>
   <%= t("or") %> <%= link_to t("cancel"), dashboard_account_path %>
 </p>
<% end %>
