<%= render :partial => 'dashboard/shared/profile_tabs', :locals => {:current => "Account Details"} %>
<div class="sptCntBus">
    	<div class="top"></div>
        
    	<div class="cntr">
        	<h2>Edit Account Details</h2>
            <%= form_for(current_user, :url => dashboard_account_path, :html => { :method => :put, :class=> "eADtl", :multipart => true }) do |f| %>
              <b><i>First name :</i>
                <%= f.text_field :firstname %>
              </b>
              <b><i>Last name :</i>
                <%= f.text_field :lastname  %>
              </b>
              <b><i>Email :</i>
                <%= f.text_field :email  %>
              </b>
              <b><i>Phone :</i>
                <%= f.text_field :phone %>
              </b>
            <div class="eADtlSav">
                <big>
                  <button type="submit" class="btn otherbutton"></button>
                </big>
            </div>
          <% end %>
        </div>
        
    	<div class="btm"></div>
    </div>
</div>
