<div class="prfl">
	<div class="top"></div>
	<div class="cntr">
    <b><%= current_user.full_name %></b>
    <i>
      <%= image_tag current_user.photo.url(:for_review) %>
    </i>
    <%= link_to dashboard_upload_photo_path do %>
    <img src="/images/forms/up_btn.png" alt=""> <!-- FIXME -->
    <% end %>

  </div>
  <div class="btm"></div>
  
  <% if current_user.has_role?("seller") %>
  <%= link_to image_tag('/images/forms/vsp_btn.png'), store_seller_path(current_user), :class => "vsp" %>
</a>
<% end %>
</div>

<div class="sptCnt">
	<div class="top"></div>
	<div class="cntr">
    <h2>Account Settings</h2>
    <div class="pnl pnl1">
      <b>NAME, EMAIL &amp; PASSWORD</b>
      <p>
        <span><%= current_user.full_name %></span>
        <span>Password: ******</span>
        <span><%= current_user.email %></span>
        <% if current_user.phone.present? %>
        <span>Phone: <%= current_user.phone %></span>
        <% end %>
      </p>

      <%= link_to image_tag('/images/forms/adit_info.png'), edit_dashboard_account_path, :class => 'iNfo' %>
    </div>
    <div class="pnl pnl2">
      <b>PRIMARY SHIPPING ADDRESS</b>
      <p>
        <% unless current_user.addresses.blank? %>
        <% address = current_user.addresses.first %>
        <span>
          <%= address.address1 %><br>
          <%= address.address2 %><br>
          <%= address.city %>, <%= address.state.name %><br>
          Phone: <%= address.phone %><br>
          Postal code: <%= address.zipcode %><br>
          <%= address.country.iso3 %>
        </span>
        <% end %>
      </p>
      <span>
        <%= link_to "Add more addresses",  new_dashboard_address_url, :class => 'adAd' %>
      </span>
      <%= link_to image_tag("/images/forms/adit_info.png"),  dashboard_addresses_path, :class => 'iNfo' %>
    </div>
    <div class="pnl pnl3">
      <b>PAYMENT INFORMATION</b>
      <p>
        <span><b>Credit or Debit Cards</b></span>
        <% current_user.seller_payment_methods.first do |item| %>
        <span><%= item.name %> ending in FIXME</span> <!-- FIXME expiration date -->
        <% end %>
      </p>
      <span>
        <%= link_to "Add more addresses",  new_dashboard_payment_method_url, :class => 'adAd' %> <!-- FIXME add right url -->
      </span>
      <%= link_to image_tag("/images/forms/adit_info.png"),  dashboard_payment_methods_path, :class => 'iNfo' %>
    </div>
  </div>
  <div class="btm"></div>

  <%= render 'seller_profile' if current_user.has_role?("seller") %>



</div>

