<%= render :partial => 'dashboard/shared/profile_tabs', :locals => {:current => "Account Details"} %>

<h1><%= t("my_account") %></h1>


<table>
  <tr>
    <td><%= t("email") %>:</td>
    <td>
      <%= current_user.email %>
    </td>
  </tr>
  <tr>
    <td><%= t("name") %>:</td>
    <td>
      <%= current_user.full_name %>
    </td>
  </tr>
  <tr>
    <td><%= t("phone") %>:</td>
    <td>
      <%= current_user.phone %>
    </td>
  </tr>

  <tr>
    <td><%= t("photo") %>:</td>
    <td>
      <%= image_tag current_user.photo.url %>
    </td>
  </tr>

</table>

<p><%= link_to t('edit'), edit_dashboard_account_path %></p>

