<div class="prfl">
	<div class="top"></div>
	<div class="cntr">
    	<b>Innovity Store</b>
        <i>
          <%= image_tag current_user.photo.url(:for_review) %>
        </i>
        <a href="#"><img src="/images/forms/up_btn.png" alt=""></a>                                </div>
	<div class="btm"></div>
    <a class="vsp" href="#"><img src="/images/forms/vsp_btn.png" alt=""></a>                            </div>
<div class="sptCnt">
	<div class="top"></div>
	<div class="cntr">
    	<h2>Account Settings</h2>
        <div class="pnl pnl1">
        	<b>NAME, EMAIL &amp; PASSWORD</b>
            <p>
            	<span><%= current_user.full_name %></span>
                <span>Password: ******</span>
                <span><%= current_user.email %></span>
                <% if current_user.phone.present? %>
                  <span>Phone: <%= current_user.phone %></span>               
                <% end %>
            </p>
            <%= link_to image_tag('/images/forms/adit_info.png'), edit_dashboard_account_path, :class => 'iNfo' %>
          </div>
        <div class="pnl pnl2">
            <b>PRIMARY SHIPPING ADDRESS</b>
            <p>
            <% if current_user.ship_address.present? %>
              <% address = current_user.ship_addres %>
              <span>
                <%= address.address1 %><br>
                <%= address.address2 %><br>
                <%= address.city %>, <%= address.state.name %><br>
                Phone: <%= address.phone %><br>
                Postal code: <%= address.zipcode %><br>
                <%= address.country.iso3 %>
              </span>                                        
            <% end %>
            </p>
            <span>
              <%= link_to "Add more addresses",  new_dashboard_address_url, :class => 'adAd' %>
            </span>
              <%= link_to image_tag("/images/forms/adit_info.png"),  dashboard_addresses_path, :class => 'iNfo' %>
        </div>
        <div class="pnl pnl3">
        	<b>PAYMENT INFORMATION</b>
            <p>
            	<span><b>Credit or Debit Cards</b></span>
                <span>Visa ending in 3630</span> <!-- FIXME -->                  
            </p>
            <span>
              <%= link_to "Add more addresses",  dashboard_addresses_path, :class => 'adAd' %> <!-- FIXME add right url -->
            </span>
            <a class="iNfo" href="#"><img src="/images/forms/adit_info.png" alt=""></a>                                    
        </div>
    </div>
	<div class="btm"></div>
</div>

