<%= render :partial => 'dashboard/shared/profile_tabs', :locals => {:current => "Upload Photo"} %>

<div class="sptCntBus">
  <div class="top"></div>
  <div class="cntr">
    <h2><%= t("upload_logo") %></h2>
    <%= form_for @current_user, :url => dashboard_upload_photo_path, :html => { :multipart => true } do |f| %>
    <div class="upPhoto">
      <i>
        <%= show_user_photo(@current_user, 'medium') %>
      </i>
      <div class="cabinet">
        <%= f.file_field :photo, :class => "txt", :size => "30" %>
      </div>
    </div>
    <div class="eADtlSav">
      <big style="margin-right: 40px">
        <button class="btn otherbutton" value="Save"></button>
      </big>
    </div>
    <% end %>
  </div>
  <div class="btm"></div>
</div>



