<%= render :partial => 'dashboard/shared/profile_tabs', :locals => {:current => "Payment Methods"} %>

 <div class="sptCntBus">
	<div class="top"></div>
    
	<div class="cntr">
    	<h2>Add or Update your Address</h2>
        
        <div class="pmntPnl">
            <div class="pmntPrcs">
                <b>
                    <i>*Payment Type:</i>
                    <div class="cmbo5">
                        <select id="websites5" tabindex="1" name="">
                            <option value="" selected="selected" title="">Select a different address</option>
                            <option value="" title="">address 1</option>
                            <option value="" title="">address 2</option>
                            <option value="" title="">address 3</option>
                            <option value="" title="">address 4</option>
                        </select>
                    </div>
                    <i><img src="/images/icons/cards.png" alt="" /></i>
                </b>
                
                <b>
                    <i>* Card Number:</i>
                    <input class="pmntTxt" type="text" name="" value="" />
                </b>
                <b>
                    <i>* Expiration Date:</i>
                    <div class="cmbo6">
                        <select id="websites6" tabindex="1" name="">
                            <option value="" selected="selected" title="">08</option>
                            <option value="" title="">1</option>
                            <option value="" title="">2</option>
                            <option value="" title="">3</option>
                            <option value="" title="">4</option>
                        </select>
                    </div>
                    <div class="cmbo7">
                        <select id="websites7" tabindex="1" name="">
                            <option value="" selected="selected" title="">2011</option>
                            <option value="" title="">Year 1</option>
                            <option value="" title="">Year 2</option>
                            <option value="" title="">Year 3</option>
                            <option value="" title="">Year 4</option>
                        </select>
                    </div>
                </b>
            </div>
            <em>We Accept Visa, Mastercard, Discover, American Express, Paypal and Bill Me Later. Paypal and Bill Me Later can only be added to your account during the checkout process. </em>
            <div class="option2">
                	<h4>Enter a new shipping address</h4>
                    <b>
                    	<i>Full Name:</i>
                        <input class="inpNam" type="text" name="" value="" />
                    </b>
                    <b>
                    	<i>Address Line 1:</i>
                        <input class="inpNam" type="text" name="" value="" />
                    </b>
                    <b>
                    	<i class="txtGry">Address Line 2:</i>
                        <input class="inpNam" type="text" name="" value="" />
                    </b>
                    <b>
                    	<i>City:</i>
                        <input class="txtCty" type="text" name="" value="" />
                        <i class="stat">State:</i>
                        <div class="cmbo2">
                            <select id="websites2" tabindex="1" name="">
                                <option value="" selected="selected" title="">Alabama</option>
                                <option value="" title="">State 1</option>
                                <option value="" title="">State 2</option>
                                <option value="" title="">State 3</option>
                                <option value="" title="">State 4</option>
                            </select>
                        </div>
                    </b>
                    <b>
                    	<i>Country:</i>
                        <div class="cmbo3">
                            <select id="websites3" tabindex="1" name="">
                                <option value="" selected="selected" title="">United States of America</option>
                                <option value="" title="">Country 1</option>
                                <option value="" title="">Country 2</option>
                                <option value="" title="">Country 3</option>
                                <option value="" title="">Country 4</option>
                            </select>
                        </div>
                    </b>
                    <b>
                    	<i>Phone:</i>
                        <input class="txtPhn" type="text" name="" value="" />
                    </b>
                    <b>
                    	<i>
                            <div class="checkbox" id="Astronomy">
                                <input type="checkbox" id="Astronomy" name="hobbies[]" value="Astronomy">
                            </div>
                        </i>
                        <span class="mk">Make this my primary address.</span>
                    </b>
                    
                </div>
            
        </div>
        
        
                
        <div class="eADtlSav">
            <big><button class="btn otherbutton" href="#"></button></big>
        </div>
    </div>
    
	<div class="btm"></div>
</div>











<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_payment_method"), new_dashboard_payment_method_url,  :icon => 'add',
                                                  :id => 'dashboard_new_payment_method_link' %>
    </li>
  </ul>
  <br class='clear' />
</div>


<h1><%= t("payment_methods") %></h1>

<table class="index sortable">
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("payment_type") %></th>
      <th>Verified</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @payment_methods.each do |item| %>
    <tr>
      <td><%= link_to item.name, dashboard_payment_method_path(item)  %></td>
      <td><%= t("seller_payment_method_type.#{item.method_type}") %></td>
      <td>
        <%= item.state %>
        <% if item.unverified? %>
        <%= link_to "send to verification", verify_dashboard_payment_method_path(item) %>
        <% end %>
      </td>
      <td>
        <% if item.unverified? %>
        <%= link_to "edit", edit_dashboard_payment_method_path(item) %>
        <%= link_to "delete", dashboard_payment_method_path(item), :method => :delete, :confirm => t(:are_you_sure)  %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
