<%= render "steps" %>

<h1> Your product is ready for sale! </h1>
<h2> Here, some details of your product: </h2>
<p>
  <b> Name </b> <br />
  <%= @product.name %>
</p>

<p> 
  <b> Description </b> <br />
  <%= @product.description %>
</p>

<p>
  <b> Taxons </b> <br />
  <%= @product.taxons %> 
</p>

<p>
  <%= link_to "Proceed to products list", dashboard_products_path %>
</p>

