<%= render "shared/error_messages", :target => @product %>
<%= render "steps" %>
<%= form_for(:product,  :url => wizard_dashboard_products_path, :remote => true, :html => { :multipart => true }) do |f| %>
<%= hidden_field_tag :id, @product.id unless @product.new_record? %>

<fieldset>


  <p class="form-buttons">
    <button class="product_state"><span><%= t("actions.next") %></span></button>
    <%= t("or") %> <%= link_to t("actions.cancel"), dashboard_quotes_path %>
  </p>

</fieldset>
<% end %>

