<div id="wizard-form">

  <%= render "shared/error_messages", :target => @product %>

  <%= form_for(:product,  :url => dashboard_products_path, :html => { :multipart => true }) do |f| %>
  <fieldset>

    <%= f.field_container :name do %>
    <%= f.label :name, t("name") %> <span class="required">*</span><br />
    <%= f.text_field :name, :class => 'fullwidth title'  %>
    <%= f.error_message_on :name %>
    <% end %>

    <div class="yui-gb">
      <div class="yui-u first">
        <%= f.field_container :sku do %>
        <%= f.label :sku, t("sku") %><br />
        <%= f.text_field :sku, :size => 16 %>
        <%= f.error_message_on :sku %>
        <% end %>

      </div>
      <div class="yui-u">
        <%= f.field_container :ean do %>
        <%= f.label :eam, t("ean_or_isbn") %> <span class="required">*</span><br />
        <%= f.text_field :ean, :size => 16 %>
        <%= f.error_message_on :sku %>
        <% end %>

      </div>

    </div>

    <div class="yui-gc">
      <div class="yui-u first">
        <%= f.field_container :description do %>
        <%= f.label :description, t("description")%><br />
        <%= f.text_area :description, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
        <%= f.error_message_on :description %>
        <% end %>
      </div>
    </div>
    <p class="form-buttons">
      <button><span><%= t("actions.create") %></span></button>
      <%= t("or") %> <%= link_to t("actions.cancel"), dashboard_products_path %>
    </p>

  </fieldset>
  <% end %>
  <%= javascript_tag "datePickerController.create();" %>

</div>
<script>
  $(function(){

  });
</script>
