<%= render :partial => 'dashboard/shared/product_sub_menu', :locals => {:current => ""}  %>
<div>
<%= render :partial => 'dashboard/shared/product_tabs', :locals => {:current => "Product Details"} %>
</div>

<div class="sptCntBus">
	<div class="top"></div>

	<div class="cntr">
    <h2 class="htFix"></h2>

    <div id="new_product"></div>

    <%= form_for(@product, :url => dashboard_product_path(@product), :html => { :method => :put, :multipart => true }) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>

    <div class="bSaveC">
      <big>
        <button type="submit" class="btn otherbutton" value="Update"></button>
      </big>
      <p>
      <%= t("or") %> <%= link_to t("actions.cancel"), dashboard_products_path %>
      </p>
    </div>

    <% end %>

  </div>

	<div class="btm"></div>
</div>
