<%= render :partial => 'dashboard/shared/product_sub_menu' %>

<h1><%= "#{t("actions.listing")} #{t("products")}" %></h1>

<div id="new_product"></div>

<table class="index" id='listing_products'>
  <tr>
      <th><%= t("sku") %></th>
      <th><%= t("ean") %></th>
      <th><%= t("name") %></th>
      <!-- <th><%#= t("price") %></th> -->
    <th>
      <%= hook :admin_products_index_header_actions %>
    </th>
  </tr>
<% @products.each do |product| %>
  <tr <%= 'style="color:red;"' if product.deleted? %> id="<%= dom_id product %>">
      <td><%= product.sku %></td>
      <td><%= product.ean %></td>
      <td><%= product.name %></td>
      <!-- <td><%#= product.price %></td> -->
    <td class="actions">
      <% if can? :edit, product %>
      <%= link_to t("edit"), edit_dashboard_product_path(product) unless product.deleted? %>
      <% end %>
      <% if can? :delete, product %>
        &nbsp;
       <%= link_to t("delete"),  dashboard_product_path(product) unless product.deleted? %>
       <% end %>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate(@products, :previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>
