<tr>
  <td valign="top" class="row<%= evod %>">
    <span><%= l order.created_at, :format => "%dth %b %Y" %></span>
  </td>

  <td valign="top" class="row<%= evod %>">
    <i>Order <b>#<%= order.number %></b></i>
    <i>Quantity: <b><%= order.item_count %></b></i>
    <%if order.virtual? %>
    <i>Virtual: <b> Yes </b></i>
    <% end %>
  </td>

  <td valign="top" class="row">
    <strong><%= order_price(order) %></strong>
  </td>

  <td valign="top" align="center" class="row<%= evod %>">
    <% order.shipments.each do |ship|  %>
    <div>
      <b>seller:</b> <%= ship.seller.full_name %>, <b>state:</b> <%= t("shipment_states.#{ship.state}") %>
      <%= link_to "Receive", receive_dashboard_order_path(order, ship) if ship.can_receiving? && !order.virtual? %>
    </div>
    <% end %>
  </td>

  <td valign="top" align="center" class="row<%= evod %>">
    <span><%= order.state %></span>
  </td>

  <td valign="top" class="row<%= evod %>" align="center">
    <big class="viwOdr">
      <%= link_to "", dashboard_order_path(order), :class => "btn otherbutton" %>
    </big>
    <div class="odrEdtPnl">
    	<div class="top"></div>
    	<div class="cntr">
        <%= link_to raw("Print Invoice" + image_tag("/images/icons/print_sml_ico.png")), dashboard_order_path(order, :pdf) %>
      </div>
    	<div class="btm"></div>
    </div>
  </td>
</tr>
