<%= render 'shared/per_page', :per_page => params[:per_page] %>
<div class="fdBck">
  <h2>Orders</h2>
  <div class="cmbo6">
    <%= form_for @search, :url => dashboard_orders_path, :html => {:method => :get} do |f| %>
      <%= f.text_field :number_contains, :class => "txt" %>
      <!-- <input class="txt" type="text" name="" value="" /> -->
    <% end %>
    
    <!-- <select id="websites21" tabindex="1" name=""> -->
    <!--   <option value="" selected="selected" title="">New Orders</option> -->
    <!--   <option value="" title="">Pending Orders</option> -->
    <!--   <option value="" title="">Comlpleted Orders</option> -->
    <!--   <option value="" title="">Canceled Orders</option> -->
    <!-- </select> -->
  </div>
  <div class="pPgCmbo">
    <div class="cmbo7">
      <select id="per_page_select" tabindex="1" name="">
        <option value="1" title="">1</option>
        <option value="2" title="">2</option>
        <option value="3" title="">3</option>
        <option value="4" title="">4</option>
        <option value="5" selected="selected" title="">5</option>
      </select>
    </div>
    <b>Display per page</b>
  </div>
  <table class="tbl2" width="915px" cellpadding="0" cellspacing="0">
    <tr>
      <td width="95px" class="thlHd2"><%= sort_link @search, "created_at", "Order Date" %></td>
      <td width="130px" class="thlHd2"><%= sort_link @search, "number", "Order Number/Quantity" %></td>
      <td width="71px" class="thlHd2">Price</td>
      <td width="250px" class="thlHd2">Shipping</td>
      <td width="80px" class="thlHd2">Status</td>
      <td width="130px" class="thlHd2"></td>
    </tr>

    <% @orders.each do |order| %>
      <% evod = cycle('1', '2') %>
      <%= render 'line_item', :order => order, :evod => evod %>
    <% end %>

  </table>
  <div class="paging">
    <div class="blogPg">
      <%= page_entries_info @orders %>
    </div>
    <%= will_paginate(@orders, :previous_label => "#{t('previous')}", :next_label => "#{t('next')}") %>
  </div>
</div>
