<%= render 'shared/per_page', :per_page => params[:per_page] %>
<div class="fdBck">
	<h2>Orders</h2>
  <div class="cmbo6">
    <input class="txt" type="text" name="" value="" />
    <select id="websites21" tabindex="1" name="">
      <option value="" selected="selected" title="">New Orders</option>
      <option value="" title="">1</option>
      <option value="" title="">2</option>
      <option value="" title="">3</option>
      <option value="" title="">4</option>
    </select>
  </div>
  <div class="pPgCmbo">
    <div class="cmbo7">
      <select id="per_page_select" tabindex="1" name="">
        <option value="1" title="">1</option>
        <option value="2" title="">2</option>
        <option value="3" title="">3</option>
        <option value="4" title="">4</option>
        <option value="5" selected="selected" title="">5</option>
      </select>
    </div>
    <b>Display per page</b>
  </div>
  <table class="tbl2" width="915px" cellpadding="0" cellspacing="0">
    <tr>
      <td width="95px" class="thlHd2">Order Date</td>
      <td width="130px" class="thlHd2">Order Number | Quantity</td>
      <td width="71px" class="thlHd2">Price</td>
      <td width="250px" class="thlHd2">Shipping</td>
      <td width="80px" class="thlHd2">Status</td>
      <td width="130px" class="thlHd2"></td>
    </tr>



    <% @orders.each do |order| %>
    <% evod = cycle('1', '2') %>
    <%= render 'line_item', :order => order, :evod => evod %>
    <!--<tr class="<%= cycle('even', 'odd') %>">
        <td><%= link_to order.number, dashboard_order_path(order) %></td>
        <td><%=order.created_at.to_date%></td>
        <td><%= t(order.state).titleize %></td>
        <td><%= t("payment_states.#{order.payment_state}") if order.payment_state %></td>
        <td>
          <ul>
            <% order.shipments.each do |ship|  %>
            <li>
              <b>seller:</b> <%= ship.seller.full_name %>, <b>state:</b> <%= t("shipment_states.#{ship.state}") %>
              <%= link_to "Receive", receive_dashboard_order_path(order, ship) if ship.can_receiving? %>
            </li>
            <% end %>
          </ul>
        </td>
        <td><%= number_to_currency order.total %></td>
        <td>
          <% for review in order.seller_reviews %>
          <div id="<%= dom_id review %>">
            <%= show_stars review.rating %>
            <%= review.seller.full_name %>
          </div>
          <% end %>
        </td>
    </tr>-->
    <% end %>






  </table>
  <div class="paging">
    <div class="blogPg">
      <%= page_entries_info @orders %>
    </div>
    <%= will_paginate(@orders,
        :previous_label => "#{t('previous')}",
    :next_label => "#{t('next')}") %>
  </div>
</div>
