<div class="prchsPnl" id="item_<%= item.id %>" >

  <div class="pdImg">
    <%= t122_image(item.variant) %>
  </div>

  <div class="prchsDtl">

    <div class="dtl1">

      <h2>
        <%= link_to product_path(item.variant.product) do %>
        <%= item.variant.name %>
        <% end %>
      </h2>

      <span><b>Seller:</b><%= item.variant.seller.full_name %></span>
      <span><b>Order Date:</b> <%= l order.completed_at, :format => "%B %d, %Y" %></span>
      <span><b>Order Number:</b> <%= order.number %></span>
    </div>

    <div class="dtl2">
      <span>
        <label>Qty Purchased </label>
        <%= item.quantity %>
      </span>
      <a href="#">FIXME Favorite Seller</a>
      <a href="#">FIXME Favorite Product</a>
    </div>
    <div class="dtl3">
      <h3><%= number_to_currency item.amount %></h3>
      <big class="btnCncl">
        <%= link_to "", new_message_path(item.variant.seller), :class => "btn otherbutton" %>
      </big>
      <big class="btnCnclOdr">
        <%= link_to "", feedback_seller_path(item.variant.seller), :class => "btn otherbutton" %>
      </big>
      <big class="btnOdr">
        <%= link_to "", "", :class => "btn otherbutton" %>
      </big>
    </div>

  </div>
  <div class="prchsMnu">
    <div class="top"></div>
    <ul>
      <li><%= link_to raw("<span>View Order Details</span>"), dashboard_order_path(order) %></li>
      <li><%= link_to raw("<span>View Invoice</span>"), dashboard_order_path(order, :pdf) %></li>
      <li><%= link_to raw("<span>Add to Inventory</span>"), "" %></li>
      <li>
        <%= link_to raw("<span>Write a review</span>"), new_product_review_path(item.variant.product) if can_create_review?(item.variant.product) %>
      </li>
      <li><%= link_to raw("<span>Request a return</span>"), "" %></li>
    </ul>
    <div class="btm"></div>
  </div>
</div>
