<%= render "shared/per_page", :per_page => params[:per_page] %>
<div class="fdBck">
	<h2>Purchase History</h2>
  <div class="cmbo6">
    <input class="txt" type="text" name="" value="">
    <select id="websites21" tabindex="1" name="">
      <option value="" selected="selected" title="">All Purchases</option>
      <option value="" title="">Last 30 days</option>
      <option value="" title="">Last 60 days</option>
      <option value="" title="">Important</option>
    </select>
  </div>
  <div class="pPgCmbo">
    <div class="cmbo7">
      <div class="ddOutOfVision" id="websites1_msddHolder">
        <select id="per_page_select" tabindex="1" name="">
          <option value="1" title="">1</option>
          <option value="2" title="">2</option>
          <option value="3" title="">3</option>
          <option value="4" title="">4</option>
          <option value="5" selected="selected" title="">5</option>
      </select></div>
    </div>
    <b>Display per page</b>
  </div>

  <% @orders.each do |order|%>
  <% order.line_items.each do |item| %>
  <%= render "line_item", :item => item, :order => order %>
  <% end %>
  <% end %>

  <div class="paging">
    <div class="blogPg">
      <%= page_entries_info @orders %><!-- FIXME add will_paginate 3.0.pre4 support for modifying text of entries info -->
    </div>
    <%= will_paginate(@orders, :previous_label => "#{t('previous')}", :next_label => "#{t('next')}") %>
  </div>
</div>




<!--
    <table class="index sortable">
      <tbody>
        <% @orders.each do |order|%>
        <% order.line_items.each do |item| %>
        <tr>
          <td><%= t122_image(item.variant) %></td>
          <td>
            <ul>
              <li><%= item.variant.name %></li>
              <li><span>Seller:</span> <%= item.variant.seller.full_name %></li>
              <li><%= number_to_currency item.amount %></li>
              <li><span>Order data:</span> <%= l order.completed_at, :format => "%B %d, %Y %H:%M" %></li>
              <li><span>Order number:</span> <%= order.number %></li>
<li><%= link_to "Favorite Seller", "" %> <%= link_to "Favorite Product", "" %></li>
</ul>
</td>
<td>
  <span>Qty purchases:</span><em><%= item.quantity %></em>
</td>
<td>
  <ul>
    <li><%= link_to "View Order Details", dashboard_order_path(order) %></li>
    <li><%= link_to "View Invoice", dashboard_order_path(order, :pdf) %></li>
    <li><%= link_to "Add to Inventory", "" %></li>
    <li>
      <%= link_to "Write a review", new_product_review_path(item.variant.product) if can_create_review?(item.variant.product) %>
    </li>
    <li><%= link_to "Request a return", "" %></li>
  </ul>
</td>
</tr>
<% end %>
<% end %>
</tbody>
</table>-->
