<%= render "shared/per_page", :per_page => params[:per_page] %>
<div class="fdBck">
	<h2>Purchase History</h2>
  <div class="cmbo6">
    <%= form_for @search, :url => dashboard_purchases_path, :html => {:method => :get} do |f| %>
      <%= f.text_field :number_contains, :class => "txt" %>
      <select id="websites21" tabindex="1" name="select_by" onchange="$('#order_search').submit(); return false;">
        <option value="" <%== select_by_param('select_by', '') %>>All Purchases</option>
        <option value="created_at_greater_than_or_equal_to--30" <%== select_by_param('select_by', 'created_at_greater_than_or_equal_to--30') %> >Last 30 days</option>
        <option value="created_at_greater_than_or_equal_to--60" <%== select_by_param('select_by', 'created_at_greater_than_or_equal_to--60') %> >Last 60 days</option>
      </select>
    <% end %>
  </div>
  <div class="pPgCmbo">
    <div class="cmbo7">
      <div class="ddOutOfVision" id="websites1_msddHolder">
        <select id="per_page_select" tabindex="1" name="">
          <option value="1" title="">1</option>
          <option value="2" title="">2</option>
          <option value="3" title="">3</option>
          <option value="4" title="">4</option>
          <option value="5" selected="selected" title="">5</option>
      </select></div>
    </div>
    <b>Display per page</b>
  </div>

  <% @orders.each do |order|%>
  <% order.line_items.each do |item| %>
  <%= render "line_item", :item => item, :order => order %>
  <% end %>
  <% end %>

  <div class="paging">
    <div class="blogPg">
      <%= page_entries_info @orders %><!-- FIXME add will_paginate 3.0.pre4 support for modifying text of entries info -->
    </div>
    <%= will_paginate(@orders, :previous_label => "#{t('previous')}", :next_label => "#{t('next')}") %>
  </div>
</div>
