<div class="sptCntBus noneSidebarForm">
  <%= render 'shared/error_messages', :target => @group_sale %>
  <div class="top"></div>

  <div class="cntr">
    <h2><%= t("new_group_sale") %></h2>
    <h2 class="htFix"> <u>Quote:</u> <b><%= @variant.name %></b></h2>

    <%= form_for(:group_sale, :url => dashboard_quote_group_sales_path(@variant), :method => :post,
    :html => {  :class => "contInp contInpFix contInpMarg" } ) do |f| %>

    <b>
      <i><%= t("name") %></i>
      <%= f.text_field :name, :class => 'title fullwidth', :value => @variant.name  %>
    </b>


    <b>
      <p id="spree_picker">
        <%= f.label :start_selling, t("start_selling") %><br />
        <%= f.spree_date_picker :start_selling %>
      </p>

      <p id="spree_picker">
        <%= f.label :stop_selling, t("stop_selling") %><br />
        <%= f.spree_date_picker :stop_selling %>
      </p>

    </b>


    <b>
      <i><%= t("price") %></i>
      <%= f.text_field :price, :class => 'title'  %>
    </b>

    <b>
      <i><%= t("retail_price") %></i>
      <%= f.text_field :retail_price, :class => 'txt'  %>
    </b>

    <b>
      <i><%= t("count") %></i>
      <%= f.text_field :count, :class => 'title'  %>
    </b>

    <b>
      <i><%= t("description") %></i>
      <div class="bAY">
        <div class="txtA">
          <%= f.text_area :description, {:cols => 60, :rows => 4, :class => 'fullwidth'}  %>
        </div>
      </div>
    </b>

    <b>
      <i><%= t("features") %></i>
      <div class="bAY">
        <div class="txtA">
          <%= f.text_area :features, {:cols => 60, :rows => 4, :class => 'fullwidth'}  %>
        </div>
      </div>
    </b>

    <div class="bSaveC">
      <big><button type="submit" class="btn otherbutton" value="Create"></button></big>
      <p><%= t("or") %> <%= link_to t("actions.cancel"),  dashboard_group_sales_path %></p>
    </div>


    <% end %>

  </div>
  <div class="btm"></div>
</div>


