<div class="sptCntBus noneSidebarForm">
  <%= render 'shared/error_messages', :target => @group_sale %>
  <div class="top"></div>

  <div class="cntr">
    <h2><%= t("new_group_sale") %></h2>
    <h2 class="htFix">
      <u>Quote:</u> <b><%= @variant.name %></b><br />
      <u>Price:</u> <b><%= @variant.price %></b><br />
      <u>On Hand:</u> <b><%= @variant.count_on_hand %></b>
    </h2>

    <%= form_for(:group_sale, :url => dashboard_quote_group_sales_path(@variant), :method => :post,
    :html => {  :class => "contInp contInpFix contInpMarg" } ) do |f| %>
    <%= render :partial => "form", :locals =>{:f => f} %>
    <div class="bSaveC">
      <big><button type="submit" class="btn otherbutton" value="Create"></button></big>
      <p><%= t("or") %> <%= link_to t("actions.cancel"),  dashboard_group_sales_path %></p>
    </div>


    <% end %>

  </div>
  <div class="btm"></div>
</div>


