<%- locals = {:f => f} %>


<b>
  <i><%= t("name") %></i>
  <%= f.text_field :name  %>
  <%= error_message_on :shipping_method, :name %>
</b>
<% unless @shipping_method.virtual? %>
    <b>
      <i><%= t("zone") %></i>
      <div class="cmbo3 websites">
          <%= f.collection_select(:zone_id, @available_zones, :id, :name, {}, {"style" => "width:200px"})  %>
      </div>
    </b>

    <%= error_message_on :shipping_method, :zone_id %>
<% end %>
<%= render "dashboard/shared/calculator_fields", :f => f %>


