<%= render :partial => 'dashboard/shared/profile_tabs', :locals => {:current => "Shipping Methods"} %>

<div class="sptCntBus">

<%= render "shared/error_messages", :target => @shipping_method %>
    	<div class="top"></div>
    	<div class="cntr" style="width: 100%;">
<h2 class="htFix"><%= t("new_shipping_method") %></h2>

<%= form_for(:shipping_method, :url => dashboard_shipping_methods_path, :html => { :class => "contInp contInpFix" } ) do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
    <div class="bSaveC">
      <big>
        <button type="submit" class="btn otherbutton" id="save_shipping_method"></button>
      </big>
      <p>
        <%= t("or") %> <%= link_to t("actions.cancel"), dashboard_shipping_methods_path %>
      </p>
    </div>
<% end %>
</div>
<div class="btm"></div>
</div>

