<%= render :partial => 'dashboard/shared/profile_tabs', :locals => {:current => "Secret Question"} %>
<h1><%= t("new_secret_question") %></h1>

<% javascript 'secret_question' %>
<%= form_for(:secret_question, :url => dashboard_secrets_path, :html => { :method => :put, :multipart => true }) do |f| %>
 <div class="yui-gc">
   <div class="yui-u first">
     <%= f.collection_select :secret_question_variant_id, SecretQuestionVariant.public_with(@secret_question.secret_question_variant_id), :id, :variant, :prompt => "Chose a quastion" %>
     <div id="own_question_div", style="display:none;">
       <%= label_tag "own_question", t("own_question") %><br />
       <%= text_field_tag "own_question", '', :class => 'fullwidth title' %>
     </div>
     <%= f.field_container :answer do %>
       <%= f.label :answer, t("answer") %><br />
       <%= f.text_field :answer, :class => 'fullwidth title' %>
       <%= f.error_message_on :answer %>
     <% end %>
   </div>
 </div>
 <p class="form-buttons">
   <button type="submit"><span><%= t('save') %></span></button>
   <%= t("or") %> <%= link_to t("cancel"), dashboard_account_path %>
 </p>
<% end %>
