<%= render :partial => 'dashboard/shared/profile_tabs', :locals => {:current => "Secret Question"} %>

<div class="sptCntBus">
	<div class="top"></div>
    
	<div class="cntr">
    	<h2>Set Secret Question &amp; Answer</h2>
        <%= form_for(:secret_question, :url => dashboard_secrets_path, :html => { :method => :put, :multipart => true, :class => "eADtl dtlCP" }) do |f| %>
        	<b>
            	<i>Select a Question :</i>
                
                <div class="cmbo1 websites21">
                  <%= f.collection_select :secret_question_variant_id, SecretQuestionVariant.public_with(@secret_question.secret_question_variant_id), :id, :variant, :prompt => "Choose a question" %>
                </div>
                
          </b>
          <b><i>Enter Own Question :</i>
            <%= text_field_tag "own_question", '' %>
          </b>
          <b><i>Answer :</i>
            <%= f.text_field :answer %>
          </b>
        <div class="eADtlSav">
          <big>
            <button type="submit" class="btn otherbutton"></button>
          </big>
        </div>
      <% end %>
    </div>
    
    <div class="btm"></div>
</div>

