<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Dashboard: <%= current_user.email %></title>


<%= stylesheet_link_tag "skin",
  "slider/checkout_scrollable_wizard",
  "checkout",
  "dd2",
  'crystal-stars',
  'payment_slider/slider.css',
  'payment_slider/tabs.css',

  :media => "screen, projection" %>
<!-- [if lt IE 8]><%= stylesheet_link_tag "ie.css", :media => "screen, projection" %><![endif]-->
<%#== stylesheet_tags %>
<%= csrf_meta_tag %>


<%= javascript_tag do %>
  ajax_urls = <%== {
    :product_search_json       => admin_products_url(:format => 'json'),
    :product_search_basic_json => admin_products_url(:format => 'json', :json_format => 'basic', :limit => 10),
    :user_search_basic_json    => admin_users_url(:format => 'json', :json_format => 'basic', :limit => 10)
  }.to_json %>;

  strings = <%==
    [:no_results, :type_to_search, :searching].
    inject({}){|memo, item| {item => t(item) }}.to_json
  %>
<% end %>

<%= stylesheet_link_tag 'admin/grids',
    'admin/admin-forms',
    'admin/admin-tables',
    'admin/autocomplete',
    'admin/token-input',
    'SpryTabbedPanels_slr_prfl',
    'sellers-profile',  :cache => 'dashboard-all' %>





<%= javascript_include_tag  'payment_slider/jquery-1.3.2.min.js',
  'payment_slider/ui.core.js',
  'payment_slider/ui.slider',
  'payment_slider/jquery.minMaxSlider',
  'payment_slider/slider_demo.js',
  'jquery-1.4.2.min',
  'jquery.validate.min.js',
  'jquery.dd',
  'rails',
  'stars/jquery-ui.custom.min',
  'stars/jquery.raty.min',
  'stars/jquery.ui.stars',
  'stars/stars_own',
  'jquery.pulse.js',
  'jquery.iphone-switch', 'jquery.tmpl.js', 'application', :cache => 'jquery-addition' %>

<%= javascript_include_tag 'jquery-ui',
    'jquery.suggest',
    'jquery.tokeninput.js',
    'jquery.delayedobserver.js',
    'jquery.dd.js', :cache => 'jquery-dashboard-plugins' %>


<%= javascript_include_tag 'slider/SpryTabbedPanels',
    'nested-attribute',
    'zone',
    'calculator',
    'gateway',
    'jquery.custom_radio_checkbox.js',
    'dashboard' %>

<%= javascript_include_tag 'jquery.tools.min.js' %>

<%= javascript_tag "$ = jQuery;" %>


<%= javascript_include_tag('for_cucumber.js') if Rails.env.test? %>

<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

<%= javascript_include_tag 'jquery.alerts/jquery.alerts.js' %>
<%= javascript_include_tag 'jquery.autocomplete.min.js' %>

<%= stylesheet_link_tag '/javascripts/jquery.alerts/jquery.alerts.css' %>
<%= stylesheet_link_tag '/javascripts/jquery.alerts/jquery.alerts.spree.css' %>



<%= javascript_tag "jQuery.alerts.dialogClass = 'spree';" %>
<%== unobtrusive_datepicker_includes %>
<%= javascript_include_tag  'jquery.validate.min.js' %>

<% unless I18n.locale.to_s[0..1] == 'en' %>
  <%= javascript_include_tag ['localization/messages_', I18n.locale.to_s[0..1], '.js'].join %>
<% end %>

<%= yield :head %>
