<div class="inbxMsgTabs">                            
  <h2>
    <%= current %>
  </h2>
  <ul class="TabbedPanels">

      <li <%== ' style="display: none;"' if current == "All Messages" %>>
        <span><%= link_to t("all_messages"), dashboard_messages_path %></span>
      </li>

      <li <%== ' style="display: none;"' if current == "Received" %>>
        <span><%= link_to t("received"), state_inbox_dashboard_messages_path(:received) %></span>
      </li>

      <li <%== ' style="display: none;"' if current == "Sent" %>>
        <span><%= link_to t("sent"), state_inbox_dashboard_messages_path(:sent) %></span>
      </li>

      <li <%== ' style="display: none;"' if current == "Unread" %>>
        <span><%= link_to t("unread"), state_inbox_dashboard_messages_path(:unread) %></span>
      </li>

      <li <%== ' style="display: none;"' if current == "Important" %>>
        <span><%= link_to t("important"), state_inbox_dashboard_messages_path(:important) %></span>
      </li>

      <li <%== ' style="display: none;"' if current == "Trash" %>>
        <span><%= link_to t("trash"), state_inbox_dashboard_messages_path(:trash), :class => "last" %></span>
      </li>

      <li class="tabBag"></li>
  </ul>
</div>


