<div class="sidebar-item" >
  <ul class="navigation-list">
    <li><%= link_to( t('user_menu.my_account'), dashboard_account_path) %></li>
    <li><%= link_to t("inbox"), dashboard_messages_path %></li>
    <li><%= link_to "Orders", dashboard_orders_path %></li>

    <% if can?(:access, :seller) %>
    <li><%= link_to "Sales", dashboard_sales_path %></li>

    <li><%= link_to( t('user_menu.quotes'), dashboard_quotes_path) %></li>

    <li class="<%= 'selected' if controller_name =~ /products/ %>">
      <%= link_to( t('user_menu.products'), dashboard_products_path) %>
    </li>

    <% end %>

  </ul>
</div>
