<ul class="TabbedPanelsTabGroup" id="dashboard_menu">
  <li class="TabbedPanelsTab" >


    <span class="TabbedPanelsTabSelected">
      <% if controller_name == 'users' %>
        <%= t("my_account") %>
      <% else %>
        <%= link_to( t("my_account"), dashboard_account_path, :class => "TabbedPanelsTab") %>
      <% end %>
    </span>
  </li>

  <li class="TabbedPanelsTab" >
    <span class="TabbedPanelsTabSelected">
      <% if controller_name == 'messages' %>
        <%= t("inbox") %>
      <% else %>
        <%= link_to t("inbox"), dashboard_messages_path, :class => "TabbedPanelsTab" %>
      <% end %>
    </span>
  </li>

  <li class="TabbedPanelsTab" >
    <span class="TabbedPanelsTabSelected">
      <%= link_to_unless_current t('user_menu.purchases'), dashboard_purchases_path, :class => "TabbedPanelsTab"  %>
    </span>
  </li>
  <li class="TabbedPanelsTab" >
    <span class="TabbedPanelsTabSelected">
      <%= link_to_unless_current t('user_menu.selling'), dashboard_sales_path, :class => "TabbedPanelsTab"  %>
    </span>
  </li>
  <li class="TabbedPanelsTab" >
    <span class="TabbedPanelsTabSelected">
      <%= link_to_unless_current t('user_menu.orders'), dashboard_orders_path, :class => "TabbedPanelsTab"  %>
    </span>
  </li>
  <li class="TabbedPanelsTab" >
    <span class="TabbedPanelsTabSelected">
      <%= link_to_unless_current t('user_menu.inventory'), dashboard_quotes_path, :class => "TabbedPanelsTab"  %>
    </span>
  </li>

  <li class="TabbedPanelsTab" >
    <span class="TabbedPanelsTabSelected">
      <%= link_to_unless_current t('user_menu.products'), dashboard_products_path, :class => "TabbedPanelsTab"  %>
    </span>
  </li>
 <li class="TabbedPanelsTab" >
   <span class="TabbedPanelsTabSelected">
     <%= link_to_unless_current t('user_menu.stores'), dashboard_seller_inventories_path, :class => "TabbedPanelsTab"  %>
   </span>
  </li>

  <li class="TabbedPanelsTab" >
    <span class="TabbedPanelsTabSelected">
      <%= link_to_unless_current( t('user_menu.feedback'), dashboard_reviews_path, :class => "TabbedPanelsTab") %>
    </span>
  </li>

</ul>
