<ul class="TabbedPanelsTabGroup">
  <li class="TabbedPanelsTab" >
    <span class="TabbedPanelsTabSelected">
      <%= link_to_unless_current( t('user_menu.my_account'), dashboard_account_path, :class => "TabbedPanelsTab") %>
    </span>
  </li>

  <li class="TabbedPanelsTab" >
    <span class="TabbedPanelsTabSelected">
      <%= link_to_unless_current t("inbox"), dashboard_messages_path, :class => "TabbedPanelsTab"%>
    </span>
  </li>

  <li class="TabbedPanelsTab" ><span>
      <%= link_to "Purchases", "" %>
  </span></li><!-- FIXME -->
  <li class="TabbedPanelsTab" >
    <span>
      <%= link_to "Selling", dashboard_sales_path %>
    </span>
  </li><!-- FIXME -->
  <li class="TabbedPanelsTab" >
    <span>
      <%= link_to "Orders", dashboard_orders_path %>
    </span>
  </li><!-- FIXME -->
  <li class="TabbedPanelsTab" >
    <span>
      <%= link_to "Inventory", dashboard_quotes_path %>
    </span>
  </li><!-- FIXME -->

  <li class="TabbedPanelsTab" >
    <span>
      <%= link_to "Products", dashboard_products_path %>
    </span>
  </li><!-- FIXME -->


  <li class="TabbedPanelsTab" ><span>Feedback</span></li><!-- FIXME -->

</ul>
