<ul class="TabbedPanelsTabGroup">
  <li class="TabbedPanelsTab" >
    <span class="TabbedPanelsTabSelected">
      <%= link_to_unless_current( t('user_menu.my_account'), dashboard_account_path, :class => "TabbedPanelsTab") %>
    </span>
  </li>

  <li class="TabbedPanelsTab" >
    <span class="TabbedPanelsTabSelected">
      <%= link_to_unless_current t("inbox"), dashboard_messages_path, :class => "TabbedPanelsTab"%>
    </span>
  </li>

  <li class="TabbedPanelsTab" >
    <span><%= link_to t('user_menu.purchases'), dashboard_purchases_path %></span>
  </li>
  <li class="TabbedPanelsTab" >
    <span><%= link_to t('user_menu.selling'), dashboard_sales_path %></span>
  </li>
  <li class="TabbedPanelsTab" >
    <span><%= link_to t('user_menu.orders'), dashboard_orders_path %></span>
  </li>
  <li class="TabbedPanelsTab" >
    <span><%= link_to t('user_menu.inventory'), dashboard_quotes_path %></span>
  </li>
  <li class="TabbedPanelsTab" >
    <span><%= link_to t('user_menu.products'), dashboard_products_path %></span>
  </li>

  <li class="TabbedPanelsTab" >
    <span><%= link_to link_to t('user_menu.feedback'), "" %></span>
  </li><!-- FIXME -->

</ul>
