<div >

  <span<%== ' class="active"' if current == "Product Details" %>>
    <%= link_to t("product_details"), edit_dashboard_product_url(@product) %>
  </span>
  |
  <span<%== ' class="active"' if current == "Images" %>>
    <%= link_to t("images"), dashboard_product_images_path(@product) %>
  </span>
  |
  <span<%== ' class="active"' if current == "Option Types" %>>
    <%= link_to t("option_types"), selected_dashboard_product_option_types_url(@product) %>
  </span>
  |
  <span<%== ' class="active"' if current == "Product Properties" %>>
    <%= link_to t("product_properties"), dashboard_product_product_properties_path(@product) %>
  </span>
  |
  <span<%== ' class="active"' if current == "Taxons" %>>
    <%= link_to t("taxons"), selected_dashboard_product_taxons_url(@product) %>
  </span>

</div>


