
<h3><%= @quote.name %><span class='sku'><%= @quote.sku %></span></h3>

<div class="prflBus">
  <ul class="sidebar product-menu">

      <li<%== ' class="active"' if current == "Quote Details" %>>
        <%= link_to t("quote_details"), edit_dashboard_quote_url(@quote) %>
      </li>

      <li<%== ' class="active"' if current == "Quote Options" %>>
        <%= link_to t("quote_options"), options_dashboard_quote_path(@quote) %>
      </li>


      <li<%== ' class="active"' if current == "Images" %>>
        <%= link_to t("images"), dashboard_quote_quote_images_path(@quote) %>
      </li>

      <li<%== ' class="active"' if current == "Selling Options" %>>
        <%= link_to t("selling_shipping"), dashboard_quote_selling_options_path(@quote) %>
      </li>

  </ul>
</div>
