<h1><%== t("editing_quote") + " &ldquo;#{@quote.name}&rdquo;" %></h1>

<% content_for :sidebar do %>

  <h3><%= @quote.name %><span class='sku'><%= @quote.sku %></span></h3>
  <br class="clear" />

  <ul class="sidebar product-menu">

      <li<%== ' class="active"' if current == "Quote Details" %>>
        <%= link_to t("quote_details"), edit_dashboard_quote_url(@quote) %>
      </li>

      <li<%== ' class="active"' if current == "Images" %>>
        <%= link_to t("images"), dashboard_quote_quote_images_path(@quote) %>
      </li>

  </ul>
  <br class="clear" />

<% end %>

