<div id="CollapsiblePanel<%= item_counter + 1 %>" class="CollapsiblePanel CollapsiblePanelOpen" data-seller="<%= item.seller.id %>">
  <div class="CollapsiblePanelTab" tabindex="0"></div>
  <div class="CollapsiblePanelContent dtlPnl ">

    <div class="lft">
      <b><%= number_to_currency(item.price) %></b>

      <%= form_tag group_sale_populate_path(item), :method => :post  do %>
      <button>BUY!</button>
      <% end %>

      <p>&nbsp;</p>
      <span>Retail Price:<em><%= number_to_currency(item.retail_price) %></em></span>
      <span>Discount:<em><%= number_to_percentage(item.discount_in_percentage, :precision => 0) %></em></span>
      <span>You save:<em><%= number_to_currency(item.discount_in_amount) %></em></span>
    </div>



    <div class="shares">
     <span> Time Left To Buy</span>
     <p>&nbsp;</p>
     <em><%= t "days", :count => item.time_left_only_day %> <%= "%d:%d:%d" %item.time_left_without_day %></em>
    </div>

  </div>
</div>
