<div class="smlTabs">
  <div id="TabbedPanels2" class="TabbedPanels">

    <ul class="TabbedPanelsTabGroup">
      <% Variant::CONDITION.each_with_index  do |cdt, index| %>
      <li class="TabbedPanelsTab tab<%= index + 1 %>  " tabindex="0">
        <span>
          <%= t("condition_#{cdt}") %>
        </span>
      </li>
      <% end %>
    </ul>

    <div class="TabbedPanelsContentGroup">

      <% Variant::CONDITION.each_with_index  do |cdt, index| %>
      <div class="TabbedPanelsContent">
        <div class="cmboSrt">
          <form action="">
            <select class="sort_by_most_recent" tabindex="1" name="">
              <option value="" selected="selected" title="">FIXME - Sort by most recent - </option>
              <option value="" title="">option 1</option>
              <option value="" title="">option 2</option>
              <option value="" title="">option 3</option>
              <option value="" title="">option 4</option>
            </select>
          </form>
        </div>

        <div class="tabCnt1">
            <%= link_to t("view_all"), product_quotes_path(product, cdt) %>
            <b><%= number_to_currency(product.variants.best_price(cdt).first.try(:price)) %></b>
            <span>Available with <%= product.variants.condition(cdt).count %> Sellers</span>
        </div>


        <div class="tabCnt2">
          <%= link_to t("view_all"), "" %>
          <span>FIXME 21 Auctions Starting at</span>
          <b>FIXME $2.99</b>
        </div>

        <% if (@best_group_sale =  product.best_group_sale(:condition => cdt )) %>
          <%= render :partial => "group_sale_list", :collection => product.group_sales.active.condition(cdt), :as => :item %>
        <% end %>

        <div class="btm"></div>

      </div>
      <% end %>
    </div>
  </div>
</div>

