<div class="rtng">
  <div class="top">
      <b>Overall Rating</b>
        <p>
          <%= show_stars @product.avg_rating %>
        </p>
        <b>Based On <%= @product.reviews_count %> Ratings</b>
        <%= link_to 'Rate This Product', new_product_review_path(@product) %>
    </div>
    <% for review in @reviews do %>
      <div class="cntr", id="review_id_<%= review.id %>">
        <i><%= show_user_photo(review.user) %></i>
        <span><%= review.simple_username %></span>
        <p><%= review.review %></p>
        <b>
          <%= show_stars(review.rating, 'icons/yel_str_sml.png', 'icons/grey_str_sml.png', '<em>') %>
        </b>
        <a href="#">Would you recomend this product to a friend?<em class="ys">Yes</em></a>
      </div>
    <% end %>
    <div class="btm">
      <%= will_paginate @reviews %>
    </div>
</div>
