<% content_for :head do %> <!-- FIXME -->
  <meta property="og:tag name" content="tag value"/> 
  <meta property="og:title" content="<%= product.name %>"/> 
  <meta property="og:image" content="<%= product.images.first.attachment.url(:mini) %> "/> 
  <meta property="og:site_name" content="Bilneur"/> 
  <meta property="og:description" content="<%= product.description %>"/>
<% end %>
<div class="cntTop"></div>
<div class="cntCntr">
  <div class="favCmnt">
    <span><%= product.name %></span>
      <div>
       <%= link_to "Sell A Product Like this", "", :class=>"seAll" %>

          <div class="social" class="fbLike">
            <iframe src="http://www.facebook.com/plugins/like.php?app_id=248975315122593&amp;href=<%= request.url %>&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;locale=en_US" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
          </div>
          <div class="social" style="padding-top: 2px;">
            <div class="g-plusone" data-size="small" data-count="true"></div>
          </div>
          <%= link_to "Add to Favorites", "", :class=>"add social" %>
      </div>
  </div>

  <div class="sldrBnr">
    <div id="gallery" class="ad-gallery">
      <div class="ad-image-wrapper">
        <%= image_tag "slide/loader.gif", :style => "display:none;", :class => "ad-loader" %>
      </div>

      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
          <% product.images.each do |image| %>
            <li>
              <%= link_to image_tag(image.attachment.url(:mini), :alt=>""), image.attachment.url(:product) %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="bnrFolw">
      <ul>
          <li><%= link_to image_tag("icons/bnr_ico_twtr.png"), "" %></li>
          <li><%= link_to image_tag("icons/bnr_ico_ggl.png"), "" %></li>
          <li><%= link_to image_tag("icons/bnr_ico_fb.png"), "" %></li>
          <li><%= link_to image_tag("icons/bnr_ico_eml.png"), "" %></li>
          <li><%= link_to image_tag("icons/bnr_ico_lnk.png"), "" %></li>
        </ul>
    </div>
  </div>

  <%= render "prd_tabs", :product => product %>
  <%= render "prd_rating", :product => product %>
</div>
