<div class="prdctTabs">
  <div id="TabbedPanels1" class="TabbedPanels">
    <ul class="TabbedPanelsTabGroup">
      <li class="TabbedPanelsTab" tabindex="0"><span>Description</span></li>
      <li class="TabbedPanelsTab" tabindex="0"><span>Technical Details</span></li>
      <li class="TabbedPanelsTab" tabindex="0"><span>Product Details</span></li>
      <li class="TabbedPanelsTab" tabindex="0"><span>Additional Info</span></li>
    </ul>
    <div class="TabbedPanelsContentGroup">
      <div class="TabbedPanelsContent">
        <div class="cmntTab">
          <span class="recomends_count"><%= @recomends_count %></span><i>Recomend This Product</i>                            </div>
        <div class="top"></div>
        <div class="cntr">
          <b><%= product.name %></b>
          <ul><li>
          <p><%= product_description(product) rescue t("product_has_no_description") %></p>
          </li></ul>
        </div>
        <div class="btm"></div>
      </div>
      <div class="TabbedPanelsContent">

        <div class="cmntTab">
          <span class="recomends_count"><%= @recomends_count %></span><i>Recomend This Product</i>
        </div>
        <div class="top"></div>
        <div class="cntr">
          <b><%= product.name %></b>
            <!-- FIXME what data should be here? -->
        </div>
        <div class="btm"></div>
      </div>
      <div class="TabbedPanelsContent">
        <div class="cmntTab">
          <span class="recomends_count"><%= @recomends_count %></span><i>Recomend This Product</i>                            </div>
        <div class="top"></div>
        <div class="cntr">

          <b><%= product.name %></b>
            <ul>
            <% for product_property in @product_properties %>
              <li><strong><%= product_property.property.presentation %></strong>: <%= product_property.value %></li>
            <% end %>
            </ul>
        </div>
        <div class="btm"></div>
      </div>
      <div class="TabbedPanelsContent">
        <div class="cmntTab">
          <span class="recomends_count"><%= @recomends_count %></span><i>Recomend This Product</i>                            </div>
        <div class="top"></div>
        <div class="cntr">
          <b><%= product.name %></b>

          <ul>
            <li>
              <p>
                <%= raw_without_js(product.additional_description)%>
              </p>
            </li>
          </ul>

        </div>
        <div class="btm"></div>
      </div>
    </div>
  </div>
</div>

