<div id="CollapsiblePanel<%= i + 1%>" class="CollapsiblePanel CollapsiblePanelOpen" data-seller="<%= item.seller.id %>">
  <div class="CollapsiblePanelTab" tabindex="0"></div>
  <div class="CollapsiblePanelContent dtlPnl ">

    <div class="lft">
      <b><%= number_to_currency(item.try(:price)) %></b>
      <i><%= image_tag "icons/yel_tick.png" %></i>
      <i><%= image_tag "icons/qmark.png" %></i>
      <span>Shipping:
        <em>
          <%= number_to_currency item.primary_shipping unless item.primary_shipping.blank? %>
        </em>
      </span>
      <span>Virtual Trading:
        <em>
          <%= item.seller.virtual_seller? ? 'Yes' : 'No' %>
          <%= image_tag "icons/qmark.png" %>
        </em>
      </span>
      <p>&nbsp;</p>
      <span>Location:<em><%= item.seller.primary_address.try(:city)%></em></span>
      <span>Quantity Available:<em><%= item.count_on_hand %></em></span>
    </div>

    <div class="rgt">
      <i class="imag">
        <%= image_tag item.seller.photo.url(:for_review) %>
      </i>
      <span><%= item.seller.firstname %></span>
      <em>Reliability Score</em>
      <b>
        <%= number_to_percentage( item.seller.reliability, :delimiter => '.', :separator => ',', :precision => 0) %>
      </b>
      <i class="tg"><%= image_tag "icons/qmark.png" %></i>
    </div>

    <div class="shares">
      <ul>
        <li class="lst1">
          <%= link_to "Seller Information", about_seller_path(item.seller) %>
        </li>
        <li class="lst2">
          <%= link_to "Return Policy", return_policy_seller_path(item.seller) %>
        </li>
        <li class="lst3">
          <%= link_to "Feedback", feedback_seller_path(item.seller) %>
        </li>
        <li class="lst4">
          <%= link_to "Tweet About This Seller", "http://twitter.com/share?url=#{ about_seller_url(item.seller) }" %>
        </li>
        <li class="lst6">
          <%= add_seller_to_favorite(item.seller,false) %>
        </li>
      </ul>
    </div>

    <div class="cntcts">
      <p>
        <%= render :partial => "shared/cart_form", :object => item %>
      </p>
      <span>
        <%= link_to "View Seller's Store", store_seller_path(item.seller), :class => "vwSStr" %>
        <%= link_to "Contact Seller", new_message_path(item.seller), :class => "cntSlr" %>
      </span>

    </div>

  </div>
</div>
