<div class="vwer smlr">
  <div class="top"><b><%= t("similar_products") %></b></div>
  <% @product.similar_products.each_with_index do |product, index| %>
  <% @best_similar_variant = product.best_variant %>
  <% next unless @best_similar_variant %>
  <div class="cntr <%== ' lst' if @product.similar_products.count == index+1 %>">
    <%= link_to product_path(product) do %>

    <i><%= mini_image(@best_similar_variant) %></i>
    <b><%= truncate product.name, :length => 20 %></b>
    <em>
      <%= truncate product.description, :length => 90 %><br />
      <label><%= number_to_currency @best_similar_variant.try(:price) %></label>
    </em>
    <% end %>
  </div>
  <% end %>
  <div class="btm"></div>
</div>

