<div class="vwer smlr">
  <div class="top"><b>Similar Products</b></div>
    <% for product in @product.similar_products do %>
      <div class="cntr">
        <a href="<%= product_path(product) %>"><i><%= image_tag product.last_photo(:mini) %></i>
          <b><%= truncate product.name, :length => 20 %></b>
          <em><%= truncate product.description, :length => 90 %><br /><label><%= number_to_currency product.price %></label></em>
        </a>
      </div>
    <% end %>
    <div class="btm"></div>
</div>

