<% product_conditions = ["Brand New", "Used", "Refurbished"] %>

<div class="smlTabs">
  <div id="TabbedPanels2" class="TabbedPanels">

    <ul class="TabbedPanelsTabGroup">
      <% Variant::CONDITION.each_with_index  do |cdt, index| %>

        <li class="TabbedPanelsTab tab<%= index+1 %>" tabindex="0"><span><%= t("condition_#{cdt}") %></span></li>
      <% end %>
    </ul>

    <div class="TabbedPanelsContentGroup">
      <% Variant::CONDITION.each do |cdt| %>
      <div class="TabbedPanelsContent">
          <div class="tabCnt1">
            <%= link_to "View All", product_quotes_path(product, cdt) %>
            <b><%= number_to_currency(product.variants.best_price(cdt).first.try(:price)) %></b>
            <span>Available with <%= product.variants.condition(cdt).count %> Sellers</span>
          </div>
          <div class="tabCnt2">
            <%= link_to "View All", product_quotes_path(product, cdt, :price => :auction) %>
            <span>21 Auctions Starting at</span>
            <b>$2.99</b>
          </div>
          <% if (@best_group_sale =  product.best_group_sale(:condition => cdt )) %>
          <div class="tabCnt3">
            <%= link_to "View All", product_quotes_path(product, cdt, :price => :discount) %>
            <span><%= @best_group_sale.count %> more buyers needed</span>
            <b><%= @best_group_sale.discount_in_percentage %>% Group Discount</b>
          </div>
          <% end %>
          <div class="btm"></div>

        </div>
     <% end %>
    </div>
  </div>
</div>
