<% stylesheet "slider/general", "slider/SpryCollapsiblePanel", "slider/SpryTabbedPanels4", "product" %>
<% javascript "jquery.custom_radio_checkbox", "slider/SpryCollapsiblePanel", "slider/SpryTabbedPanels", "product_index" %>

<%= render 'shared/per_page', :per_page => params[:per_page] %>


<div class="col1" id="pdSm">
  <div class="pdSrch">
    <%= form_tag products_path, :remote => true, :method => 'get', :id => "products_search" do %>
        <%= hidden_field_tag :per_page, params[:per_page] %>
        <%= text_field_tag :keywords, params[:keywords], :class => 'txt', :placeholder => 'Search with results' %>
        <%= submit_tag "Update Results", :name => nil, :class => 'sbmt', :id => "search_keywords" %>
    <% end %>
    <%= link_to image_tag("forms/strip_bcome.png"), "#", :class => "strip" %>
  </div>
  <div class="mTabs">
    <div id="TabbedPanels1" class="TabbedPanels">
      <ul class="TabbedPanelsTabGroup">
        <li class="TabbedPanelsTab" tabindex="0">
          <%= link_to raw("<span>All Products</span>"), "" %>
        </li>
        <li class="TabbedPanelsTab" tabindex="0"><span>Auctions </span></li>
        <li class="TabbedPanelsTab" tabindex="0"><span>Volume Price </span></li>
        <li class="TabbedPanelsTab" tabindex="0"><span>Group Sales</span></li>
        <li class="TabbedPanelsTab" tabindex="0"><span>Fixed Price</span></li>
      </ul>
      <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent">
          <div class="bCrmp">
            <ul id="taxons-facets">
              <li>Filters:</li>
              <li><a href="#">All Products</a><img src="/images/icons/ico_cros.png" alt="" /></li>
              <li><a href="#">Electronics</a><img src="/images/icons/ico_cros.png" alt="" /></li>
              <li><a href="#">Smart Phones</a><img src="/images/icons/ico_cros.png" alt="" /></li>
              <li><a href="#">Apple iPhone</a><img src="/images/icons/ico_cros.png" alt="" /></li>
            </ul>
          </div>
          <div class="fbPnl">
            <a class="cros" href="#"><img src="/images/icons/fb_cros.png" alt="" /></a>
            <p><a href=""><img src="/images/forms/fb_btn.png" alt="" /></a>See what your freinds are buying, selling or trading.<br /> Read their reviews, get advice, or simply buy &amp; sell with them.</p>
          </div>
          <div class="smPrdcts">
            <%= render "shared/products", :products => @products, :taxon => @taxon %>
            <div class="blogPg">
              <%= page_entries_info @products %><!-- FIXME add will_paginate 3.0.pre4 support for modifying text of entries info -->
            </div>
            <div class="slctr slct">
              <b>items per page</b>
              <form action="">
                <select id="per_page_select" tabindex="1" name="">
                  <option value="15" title="">15</option>
                  <option value="30" title="">30</option>
                  <option value="50" title="">50</option>
                  <option value="60" title="">60</option>
                </select>
              </form>
            </div>
          </div>
        </div>
        <div class="TabbedPanelsContent">
          2 tab
        </div>
        <div class="TabbedPanelsContent">
          3 tab
        </div>
        <div class="TabbedPanelsContent">
          4 tab
        </div>
        <div class="TabbedPanelsContent">
          5 tab
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col2 col2SlPrd col2P">
  <div class="blogFilters">
      <div class="invty col2Invty">
            <a class="pLa" href="#">List View</a>
            <a href="#">List View</a>
      </div>

      <%= render 'shared/filter' %>

   </div>
</div>
