<% stylesheet "slider/general", "slider/SpryCollapsiblePanel", "slider/SpryTabbedPanels4", "product" %>
<% javascript "jquery.custom_radio_checkbox", "slider/SpryCollapsiblePanel", "slider/SpryTabbedPanels", "product_index" %>
<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      //Redirect to products index with new per_page param
      $("#per_page_select").change(function() {
        var per_page = $(this).val();
        var product_path = "<%= products_path %>" + "?per_page=" + per_page;
        window.location = product_path;
      });
      
      //Set per_page_select value depending on existence of per_page param
      $("#per_page_select option[value=<%= params[:per_page] %>]").attr('selected', true);

      //And only after that try to to style select
      try {
        $("#per_page_select").msDropDown({mainCSS:'dd2'});
        $("#ver").html($.msDropDown.version);
        } catch(e) {
          alert("Error: "+e.message);
      }
    })
  </script>
<% end %>
<div class="col1" id="pdSm">
  <div class="pdSrch">
    <form>
      <input class="txt" type="text" name="" value="Search within results" onfocus="if(this.value=='Search within results') this.value=''" onblur="if(this.value=='') this.value='Search within results'" />
      <input class="sbmt" type="submit" name="" value="Update Results" />
    </form>
    <%= link_to image_tag("forms/strip_bcome.png"), "#", :class => "strip" %>
  </div>
  <div class="mTabs">
    <div id="TabbedPanels1" class="TabbedPanels">
      <ul class="TabbedPanelsTabGroup">
        <li class="TabbedPanelsTab" tabindex="0">
          <%= link_to raw("<span>All Products</span>"), "" %>
        </li>
        <li class="TabbedPanelsTab" tabindex="0"><span>Auctions </span></li>
        <li class="TabbedPanelsTab" tabindex="0"><span>Volume Price </span></li>
        <li class="TabbedPanelsTab" tabindex="0"><span>Group Sales</span></li>
        <li class="TabbedPanelsTab" tabindex="0"><span>Fixed Price</span></li>
      </ul>
      <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent">
          <div class="bCrmp">
            <ul>
              <li>Filters:</li>
              <li><a href="#">All Products</a><img src="/images/icons/ico_cros.png" alt="" /></li>
              <li><a href="#">Electronics</a><img src="/images/icons/ico_cros.png" alt="" /></li>
              <li><a href="#">Smart Phones</a><img src="/images/icons/ico_cros.png" alt="" /></li>
              <li><a href="#">Apple iPhone</a><img src="/images/icons/ico_cros.png" alt="" /></li>
            </ul>
          </div>
          <div class="fbPnl">
            <a class="cros" href="#"><img src="/images/icons/fb_cros.png" alt="" /></a>
            <p><a href=""><img src="/images/forms/fb_btn.png" alt="" /></a>See what your freinds are buying, selling or trading.<br /> Read their reviews, get advice, or simply buy &amp; sell with them.</p>
          </div>
          <div class="smPrdcts">
            <%= render "shared/products", :products => @products, :taxon => @taxon %>
            
            <div class="blogPg">
              <%= page_entries_info @products %><!-- FIXME add will_paginate 3.0.pre4 support for modifying text of entries info -->
            </div>
            <div class="slctr slct">
              <b>items per page</b>
              <form action="">
                <select id="per_page_select" tabindex="1" name="">
                  <option value="15" title="">15</option>
                  <option value="30" title="">30</option>
                  <option value="50" title="">50</option>
                  <option value="60" title="">60</option>
                </select>
              </form>
            </div>
          </div>
        </div>
        <div class="TabbedPanelsContent">
          2 tab
        </div>
        <div class="TabbedPanelsContent">
          3 tab
        </div>
        <div class="TabbedPanelsContent">
          4 tab
        </div>
        <div class="TabbedPanelsContent">
          5 tab
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'filter' %>
