<% @body_id = 'product-details' %>
<% stylesheet "slider/style", "slider/jquery", "slider/SpryTabbedPanels2", "slider/SpryTabbedPanels3" %>
<% javascript "slider/jquery_002", "slider/jquery_003", "SpryTabbedPanels", "product_detail", "like_review" %>

<div class="col1">
  <%= render "filters" %> 
  <%= render "prd_dtl", :product => @product %>
</div>
<div class="col2">
  <%= render "view_all_panel", :product => @product %>
  <%= render "vtrade_panel", :product => @product %>
  <%= render "viewing_users_panel", :product => @product %>
  <%= render "similar_prd_panel", :product => @product %>
</div>
